[2016-03-11 15:20] Jerome1337 commented on #817
I found the way to add the required option to `{_format}`

[2016-03-11 15:23] #817 closed

[2016-03-13 16:50] scaytrase opened #819 "Resources are not populated for external annotation providers"
https://github.com/nelmio/NelmioApiDocBundle/blob/master/Extractor/ApiDocExtractor.php#L144-L149

These lines prohibit of resource population for the external annotation providers.

An option would be populate list of annotation first and then iterate them as native routes above

https://github.com/nelmio/NelmioApiDocBundle/blob/master/Extractor/ApiDocExtractor.php#L126-L140

[2016-03-14 09:29] MatthieuCutin opened #820 "Use hydra context to describe route"
Hey,

I'm using Hydra context to provide additionnal information about my routes such as hydra:title.

But in the documentation, every of my get (or any other method) actions got the same description (the description of the first one) because of the lines  from 172 to 175 of the DunglasApiProvider : https://github.com/nelmio/NelmioApiDocBundle/blob/master/Extractor/AnnotationsProvider/DunglasApiPr

[2016-03-14 12:13] logickphp commented on #652
I have the same problem:

I my class:

`
/**
     * @ApiDoc(
     *      resource=true,
     *      description="Crea un área",
     *      views = { "default" },
     *      requirements={
     *          {
     *              "name"="descripcion",
     *              "dataType"="string",
     *              "requirement"="\[[:alnum:]]+",
     *              "description"="Descripción de la nueva

[2016-03-15 15:22] PhilippSchreiber commented on #496
not working for me, too...

[2016-03-17 14:51] dzubchik commented on #798
close this issue?

[2016-03-17 15:07] #785 closed

[2016-03-18 05:49] behram opened #822 "How i can get all specified views"
I want to expose all doc links via all unique views. How i can do this? I looked all services but any of them returns all unique views

[2016-03-18 23:30] ariault-blanchard commented on #774
Hello,

I am in the same situation and i think it will be great to have this too :)

It's very useful at the moment though :)

[2016-03-21 10:31] #813 closed

[2016-03-23 14:10] createproblem commented on #802
Created a new data model. Its a good way cuz everything is auto generated such as serializer annotations, or asserts annotations. The next is you can also use it as an input type. And you've type hinting.

In short: Don't use ugly inline array. Stay object orientated.

[2016-03-24 09:34] maxpou opened #829 "enable request listener: terrible idea ?"
Hi everyone,

Today I inspect my API with the [JMSDebuggingBundle](https://github.com/schmittjoh/JMSDebuggingBundle) (in a nutshell, this bundle provides advanced debugging tools).

I found something interesting. When I analyze an API request (a simple HTTP GET) :

| Caller | Requested Service | Time |
| --- | --- | --- |
| ... | ... | ... |
| Symfony\Component\EventDispatcher\ContainerAwareEventD

[2016-03-24 09:58] maxpou commented on #809
Hi,
I cannot reproduce this bug in my [project](https://github.com/maxpou/symfony-rest-beer-edition). Note: I simply put this code on two controllers :

[code]

I think those two methods are binding to the same route. Ensure with: `php app/console debug:router | grep test`.

[2016-03-25 12:03] Seb33300 commented on #809
Hi,
I have this bug when I set the same route on the 2 actions, but with a different route prefix set on each controller.

[2016-03-25 14:50] emiliemarchand opened #830 "Specify output status code"
When generating output documentation the status code shown in the **return block** is always 200. However in my case I am returning a 201, as we can see in the statusCodes annotation. Is there a way to override the value shown for the output? Or maybe just hide it when the statusCodes annotation is provided?

Here are my annotations:

[code]

And the result:
![response_status_code](https://cloud.g

[2016-03-29 08:19] maxpou commented on #809
Provide more information.. we can't help you.

[2016-03-29 09:04] maxpou commented on #830
Hi Emily,
Outpout require a HTTP Code 200 (see  Nelmio\ApiDocBundle\Annotation\ApiDoc.php line 287). I don't know why :-/

Instead, you can use another great parameter : responseMap!

[code]

[2016-03-29 12:53] petrica commented on #196
Have a look at this "issue": https://github.com/nelmio/NelmioApiDocBundle/issues/806

Is an alternative to add API documentation using an YML.

[2016-03-29 12:53] petrica commented on #816
Have a look at this "issue": #806

Is an alternative to add API documentation using an YML.

[2016-03-31 09:03] rpodwika commented on #525
Any update regarding this bug?

[2016-03-31 16:18] MichaelMackus commented on #525
@sghribi's fork seems to be working for me, see [this](https://github.com/VIACentraleReseaux/NelmioApiDocBundle) repo.

Not sure if there's a proper PR or not, but its been working great for us.

[2016-04-01 17:22] emiliemarchand commented on #830
Thanks Maxpou! I'll use the responseMap instead for now. But I still think the http code shouldn't be hardcoded for the ouput

[2016-04-04 12:43] devantoine commented on #443
Similar to this, if markdown is working in the PHPDoc how to get line breaks without HTML?
Currently my PHPDoc is a mix of markdown and html :/

Reading [these slides](https://speakerdeck.com/gordalina/rest-apis-made-easy-with-symfony2), at the end the generated documentation gots line break but I'm not able to reproduce this.

Any clue?

[2016-04-07 16:19] duncangrist commented on #306
How is this requirement different from what was already merged here:
https://github.com/nelmio/NelmioApiDocBundle/pull/469

?

[2016-04-08 09:15] danielsippel commented on #310
+1
It should be configurable to get the sandbox submitting the parameters as Request Payload like this:

`{"accountOwner":"sdfjifdskl","bankName":"sdf2iewsd","iban":"DE7209829082389023980","bic":"BLABIC"}`

[2016-04-08 11:43] duncangrist opened #831 "collections always have boolean default value of `true`"
It appears that `CollectionParser.php` hardcodes collections to always have a default value of `true`, which can result in the following swagger 1.2:

[code]

Is this expected behaviour? Doesn't seem very logical to me as by their very nature collections cannot have a scalar default value.

The problem seems to be in `CollectionParser.php`, line 70:

[code]

Surely this should be:

[code]

I have

[2016-04-08 12:47] AlexandreHagen opened #833 "Input Annotation does not work. Parameter information is not displayed."
Hi

I use NelmioApiDocBundle form one year now. I my code I am using input to display parameters in documentation. But from few months it is not working any more for all input set.

My annotation:

[code]

My Form :

[code]

The result :
![capture d ecran 2016-04-08 a 14 42 33](https://cloud.githubusercontent.com/assets/2535878/14383879/2d66a2ec-fd98-11e5-9606-2dc64a0f90fb.png)

I'm using Symfony

[2016-04-08 12:52] AlexandreHagen commented on #833
I already tried to debug with Xdebug but I didn't find any problems.

[2016-04-11 14:12] NadaBen opened #834 "Argument 2 passed to xxx must be of the type array, string given""
hello
please i need some help here
how to insert an array type in sandbox
it shows me this error Argument 2 passed to xx must be of the type array, string given"

my function is as follows:
`         /**
     \* @ApiDoc(description="Uploads photo with tags.")
     *
     \* @Rest\FileParam(name="image", image=true, description="Image to upload.")
     \* @Rest\RequestParam(name="tags", requirement

[2016-04-12 12:11] AlexandreHagen commented on #833
No one has the same issue ?

[2016-04-12 14:07] maxpou commented on #833
Hi,
My Forms Input still working with Symfony 2.8.4. ([Github test project](https://github.com/maxpou/symfony-rest-beer-edition))

Try with:

[code]

[2016-04-12 14:13] AlexandreHagen commented on #833
Hi @maxpou ! Yes, I already tired, same result.

[2016-04-12 14:29] AlexandreHagen commented on #833
Maybe this my config ? or my bundles dependencies ?

[2016-04-14 10:07] #802 closed

[2016-04-14 13:19] maxpou commented on #833
hi,
Your forms still works without NelmioApiDoc Bundle? (e.g. curl, Postman...)
If 'no', checkout changelogs (Symfony, FOSRestBundle...). I really think that your problem is not related with this bundle.

This is my last suggestion:

[code]

[2016-04-14 15:11] AlexandreHagen commented on #525
Let's merge !!!

[2016-04-14 19:14] AlexandreHagen commented on #525
I did a folk. I will try to resolve this issue. If I success I will do a PR.

[2016-04-14 22:14] AlexandreHagen commented on #833
Hi @maxpou !
I found why this doesn't work !

In my from I use this:
[code]
The problem come from ```setAllowedTypes()```. It is not support by ```Parser/FormTypeParser.php```
That issue has already be reported in https://github.com/nelmio/NelmioApiDocBundle/issues/118#issuecomment-29609189

Maybe I would do a PR the fix it.

One solution, without changing NelmioApiDocBundle code, is to do like th

[2016-04-14 22:22] AlexandreHagen commented on #830
@emiliemarchand I think too !

[2016-04-14 23:25] AlexandreHagen commented on #525
Ok I found what is happing.

In `ApiDocExtractor::extractData`, several Parsers can be used.
In our case, two are called to get parameters,`Nelmio\ApiDocBundle\Parser\ValidationParser` and `Nelmio\ApiDocBundle\Parser\JmsMetadataParser`

ValidationParser is called first. As it was reported in https://github.com/nelmio/NelmioApiDocBundle/issues/125#issuecomment-148345123, ValidationParser does not c

[2016-04-15 11:55] willdurand commented on #830
:+1:

[2016-04-18 10:10] javiereguiluz opened #836 "Minor documentation issues"
As reported [on symfony.com](http://symfony.com/doc/build_errors), there are some minor issues in the docs of this bundle:

[code]

[2016-04-20 07:41] timhovius commented on #496
I created a pull request #837 :wink:

[2016-04-20 11:41] #496 closed

[2016-04-20 12:46] ruscon commented on #496
thx

[2016-04-21 15:38] #416 closed

[2016-04-27 08:50] underq commented on #806
👍

[2016-04-27 10:25] npotier commented on #806
@MatthieuCutin I think I would be great to make a PR for this feature.

What do you think about it @willdurand ?

[2016-04-28 12:33] alphatesla opened #840 "use of $ref property"
is ti possible to use a $ref in a json schema with nelmio ?

[2016-05-02 10:01] devantoine opened #842 "@Security annotation on a controller doesn't appear in the generated doc"
Following https://github.com/nelmio/NelmioApiDocBundle/pull/497 I'm wondering if the `@Security` annotation on a class is supposed to work? Because currently it does not.

If I had the `@Security` annotation directly on the method, it almost works, meaning the key icon appears next to the route with the "Needs authentication" alt text. I say almost, because when I had the role inside the annotatio

[2016-05-02 10:41] bblue commented on #317
Although this issue has been closed. Is there support of any kind to create documentation dynamically with expressions or merging annotations?

[2016-05-03 12:02] Padam87 commented on #833
I ran into the same problem here: https://github.com/Elao/ElaoFormTranslationBundle/pull/24

It is really annoying... not sure what to do with it.

[2016-05-03 17:43] BreaGaudioso commented on #310
+ 1

[2016-05-04 16:00] jerome-fix commented on #384
+1

[2016-05-09 13:00] maxpou commented on #842
Hi @devantoine,
me too. It's only work on methods.

:+1:

[2016-05-12 10:08] RomainMarecat opened #846 "js error with api documentation"
app/console api:doc:dump --format=html > api.html

browser: Chromium & firefox
console:
Uncaught SyntaxError: Unexpected token ILLEGAL
api.html:34363 Uncaught ReferenceError: $ is not defined

[2016-05-12 13:13] willdurand commented on #846
You already reported this in #839

[2016-05-12 13:13] #846 closed

[2016-05-13 14:09] devantoine opened #847 "Merge ReqestParam with Nelmio's parameter"
When using `@RequestParam` annotation from FosRestBundle it would be nice to merge it in the doc with the parameter having the same name:

[code]

Like so it would be possible to add more informations to the `@RequestParam`. Currently `@RequestParam` override Nelmio's parameter.

I've already edited the code to act like that, I could do a simple PR.

[2016-05-13 16:45] GuilhemN opened #848 "Retarget the bundle"
[The 2.0 version of this bundle](https://github.com/nelmio/NelmioApiDocBundle/releases/tag/2.0.0) has now been released 4 years ago ! Thanks a lot @willdurand !

A powerful language exists to describe rest APIs: [Swagger](http://swagger.io/). So I'm wondering if it wouldn't be the time to release a new major version of this bundle which would be lighter.
I found a [great library](https://github.co

[2016-05-13 21:16] Ener-Getick commented on #848
[here](https://github.com/nelmio/NelmioApiDocBundle/compare/master...Ener-Getick:SWAGGER?expand=1) is a small part of what I would like to do.

[2016-05-13 21:55] Ener-Getick commented on #847
if #848 is accepted (it's a long term issue/work), it would be really easy to implement :-)

[2016-05-15 08:05] Abam opened #849 "Validation rules are ignored when a form type is specified as ApiDoc input"
Given a form type :

[code]

And validation rules :

[code]

When the ApiDoc is specified as follow :

[code]

Then the validation rules are not used in the generated documentation.

Symfony : 3.0.4
ApiDocBundle: 2.12.0

[2016-05-15 08:23] Abam opened #850 "Entity with embbeded collection cannot be used as input in ApiDoc annotation"
Given an entity:

[code]

And validation rules :

[code]

When the ApiDoc is specified as follow :

[code]

When trying to access the documentation
Then an exception is thrown with the message `An exception has been thrown during the rendering of a template ("Notice: Array to string conversion") in "NelmioApiDocBundle::method.html.twig" at line 253.`.

Symfony : 3.0.4
ApiDocBundle: 2.12.0
jms/seri

[2016-05-17 07:58] devantoine commented on #847
Seems like a huge change, not sure it'll be implemented any time soon.

Meanwhile my change is only the following one in ApiDoc:

    public function addParameter($name, array $parameter)
    {
        $parameter = isset($this->parameters[$name]) ? array_merge($parameter, $this->parameters[$name]) : $parameter;
        $this->parameters[$name] = $parameter;
    }

[2016-05-18 11:27] devantoine commented on #842
I've made this PR https://github.com/nelmio/NelmioApiDocBundle/pull/852 but I fail to pass the tests with some PHP versions and I don't know why.

[2016-05-19 12:05] tetronomis commented on #509
Any update on that issue?

[2016-05-27 14:34] aminin commented on #559
+1

[2016-05-29 10:50] tarlepp opened #858 "Changelog?"
It would be very helpful if this repository contains a changelog which tells what is added in each version and what's only on the master branch atm.

Just spended couple of hours to get headers annoations to work, and then I realize that I was using stable version, and that version doesn't support header annotations...

[2016-05-30 20:12] La-source opened #859 "problem install"
Hello,

I use google translate, sorry for my English.

I want to contribute to the project but I am having problems since installation.

If I make a deal with installing I get the following error:

[code]

If I remove `dunglas/api-bundle` phpunit returns 2 failures and 10 skipped.

[code]

[2016-06-02 17:01] ahungry opened #862 "Pipe is not a valid character in CSS (related to multi-method endpoints)"
I added a fix here which changes the method split character to be a space instead of a pipe for the endpoints that accept multiple methods.

https://github.com/nelmio/NelmioApiDocBundle/pull/856

[2016-06-02 17:02] ahungry commented on #842
Same here (local tests passed after I made a PR, but the remote tests fail).  Pretty sure its a misconfiguration on the CI

[2016-06-07 04:12] bitgandtter opened #863 "symfony3 php7 doc wont update"
Im using symfony 3.1 with php7 and for some reason the doc wont update, it does not show new added end points and even show those that it manage to show with method "ANY" even when they are specifically specified "GET" "POST" and so on

[2016-06-07 04:23] bitgandtter commented on #863
Sorry about this, was really my bad over configuration with FOSRestBundle, apologies

[2016-06-07 04:23] #863 closed

[2016-06-07 09:59] da-wen opened #864 "Dump in html format will cause jquery issues"
Before i create a pull request i want others to confirm #on that issues.
I think it happens only with newer versions of console component.

When you are dumping you api docs like this
`bin/console api:doc:dump --env=dev --format=html > web/content-api.html`
 and open the generated html, the javascript is broken and gives you errors like this:
`content-api.html:646 Uncaught SyntaxError: Unexpected

[2016-06-07 15:28] gototog commented on #310
+1

[2016-06-07 15:40] ZandorZ commented on #587
I think there is no "nickname" attribute

[2016-06-10 08:32] Gregoire-M commented on #864
Hi,
Same problem here with 2.12.0
Your fix works fine for me.

[2016-06-10 11:31] #864 closed

[2016-06-10 12:33] Gregoire-M commented on #864
@willdurand Could you tag a new version please?

[2016-06-10 12:41] willdurand commented on #864
I will but test suite is failing right now. Must be fixed first.

[2016-06-10 15:56] Tobion commented on #310
Closing as the swagger does exactly what I proposed here. You can define if parameters are in the header, query, path, formData, or body. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject

Also we are using https://github.com/zircote/swagger-php and the swagger UI by now.

[2016-06-10 15:56] #310 closed

[2016-06-10 16:10] Gregoire-M opened #867 "Confusion with naming strategies (underscore vs. camelCase)"
I have a model class called `Address`, with a `$zipCode` property (camelCase):

[code]

For this object, my API expects a JSON property `zip_code` (underscore). I think that's the default behaviour of the JMS serializer.

The generated API doc parameters look like this:

| Parameter | Type | Required ? | Format | Description |
| --- | --- | --- | --- | --- |
| address[zip_code] | string | false |

[2016-06-12 13:12] ra3oul commented on #727
please add this guide to your doc

[2016-06-13 08:01] #801 closed

[2016-06-15 10:35] mickadoo opened #870 "Allow prioritization of extractor handlers"
I have a case where I"m using one of [my own bundles](https://github.com/mickadoo/YamlApiDocAnnotationBundle) to load api doc configuration from YAML files. I want to then add another handler that will automatically add other parameters / requirements based on the annotation. My problem is that because handlers ignore priority my handler is always called _before_ the handler that loads annotation

[2016-06-15 11:30] TheKassaK opened #872 "Can't flush in prod environment ?"
Hello !

I just want to know something, when I try to test a webservice via /api/doc in my dev environment : Myurl/app_dev.php/api/doc, it's ok, no problem.

But if I try in prod environment, my command flush() in my webservice doesn't work. Nothing is update on database.

Is it normal ? For security maybe ? Or something else ? Thanks !

[2016-06-16 11:19] d3face opened #873 "Request File uploads breaked in 2.13.0"
As input for API i have as Parameter
image   file    true        Image data

in sandbox previous versions worked upload of files, now in 2.13.0
it gives me

Request body
image=cat.jpg

curl -X "POST" -d "image=cat.jpg" /path

But this need to upload file named cat.jpg, as multipart/data

[2016-06-18 12:00] Mathieu-Pasco-Breillot opened #875 "Activation bundle problem but still working"
Hello, I'm facing a non-blocking issue but a strange one !

I correctly install the bundle by following the installation steps, but still PHPStorm is displaying me those messages...

It can't resolve the namespace and the path, but the bundle works...
I can access my doc at http://mydomaine.com/api/doc

Is it a known problem due to the IDE ?

![appkernel](https://cloud.githubusercontent.com/assets

[2016-06-20 07:09] Chrysweel opened #876 "Display documentation with duplicate routes"
Hello.

I saw that my documentation shows duplicate information, the route shown twice. ( Into and out of the box.)

![nelmio](https://cloud.githubusercontent.com/assets/1416870/16185757/711c6ec4-36c6-11e6-9bd6-9590dfee6fd2.png)

Instead of appear as in the documentation, this is the captura of documentation official.

![nelmio-official](https://cloud.githubusercontent.com/assets/1416870/16185761/

[2016-06-20 07:39] Mathieu-Pasco-Breillot commented on #875
It was an IDE exclusion of the vendor subfolder of nelmio.
Sorry :/

[2016-06-20 07:39] #875 closed

[2016-06-28 08:07] johnico opened #878 "Add new section"
How can I add new section after StatusCodes ? for example "api codes"
?

[2016-06-28 13:59] jamescaruso commented on #509
+1

[2016-07-05 06:28] EkanMagnia opened #879 "Conflicts with symfony 2.7.15"
Hello.

I can not install Nelmio/ApiDocBundle because of the following error:

Problem 1
    - nelmio/api-doc-bundle dev-master conflicts with symfony/symfony[v2.7.15].
    - nelmio/api-doc-bundle dev-master conflicts with symfony/symfony[v2.7.15].
    - nelmio/api-doc-bundle dev-master conflicts with symfony/symfony[v2.7.15].
    - Installation request for nelmio/api-doc-bundle dev-master -> sati

[2016-07-08 10:08] sigzegv opened #881 "Getting a semantical error on ApiDoc"
I am getting this kind of error, on a SF3 (with microkernel) project :

I used "nelmio/api-doc-bundle": "^2.13", in my composer.json, the bundle is loaded from the kernel.
Then I put the `use Nelmio\ApiDocBundle\Annotation\ApiDoc;` in my controller and start using the @ApiDoc annotation, and the exception pops when I go to my /api/doc route. If I don't use any apidoc annotation, the /api/doc page

[2016-07-13 07:01] Olousouzian commented on #384
👍

[2016-07-15 22:42] cigoe commented on #879
Just hit this as well seems that ~2.11 is the latest version that will install with 2.7

[2016-07-18 08:54] Neirda24 commented on #384
👍

[2016-07-18 19:22] EkanMagnia commented on #879
You are right.that was the latest that worked for me.

[2016-07-18 19:22] #879 closed

[2016-07-21 14:20] lgoral commented on #776
I think i will prepare in few days PR for it with proposed solution for two fields responseExample and requestExample

[2016-07-23 07:12] mzmgh opened #883 "Why v2.13 has conflict with symfony ~2.7.8"
What is the solution of this conflict?

[2016-07-23 12:05] willdurand commented on #883
There is no solution, except if you manage to understand why the NelmioApiDocBundle test suite fails with Symfony 2.7.8..

[2016-07-24 05:54] lgoral commented on #776
Two fields
* responseExample: example of response body from endpoint. This properties can be a string value or array with
 `file` key and path value to example with the response; Examples:

[code]

* requestExample: example of response body from endpoint. This properties can be a string value or array with
 `file` key and path value to example with the response; Examples:
[code]

[2016-07-24 06:05] lgoral commented on #859
I had the same problem, i changed to "dunglas/api-bundle": "~1.1",

[2016-07-24 17:37] AienTech opened #886 "InvalidArgumentException on first-time Setup"
Hi,
So after the first setup, as I followed documentation, I'm getting this `InvalidArgumentException`:
`The "AcmeDemoBundle" (from the _controller value "AcmeDemoBundle:Default:dummy") does not exist or is not enabled in your kernel!`

I've checked all of my configs and routes, but got nothing, I thought it might be a bug!

[2016-07-26 08:21] dorianboulch opened #887 "nelmio/api-doc-bundle 2.13.0 conflicts with symfony/symfony[v2.7.15]"
Hello

Composer tells me that this package is not compatible with my symfony version...
Is there someting to do ?

[2016-07-26 09:05] #887 closed

[2016-07-26 09:06] dorianboulch commented on #887
Duplicated issue https://github.com/nelmio/NelmioApiDocBundle/issues/879

[2016-07-27 06:08] HitoTech opened #888 "PHP 5.3 Compatibility"
Hi,

We are using this library to make the documentation for our PHP 5.3 project, and we have a bug since the last release.
After research, it seems to come from this commit https://github.com/nelmio/NelmioApiDocBundle/commit/8aa5e479d1f4ea7dce1572eb05bae71837e94718 .

`JSON_UNESCAPED_UNICODE` is PHP >= 5.4, while the composer.json file says the project is compatible >= 5.3.

I didn't made a PR be

[2016-07-28 06:43] cve commented on #876
+1

[2016-07-29 05:58] Invis1ble commented on #496
`input` form placeholders still not translated.

[2016-07-29 06:12] Invis1ble opened #889 "Placeholders are not translated in sandbox"
I have FormType

[code]

that passes to `input` with annotation:

[code]

The placeholder for this `username` field is `[string] form.user.label.username`. But it should be  `[string] Имя`, because there is translation for this string in my `app/Resources/translations/messages.ru.xliff`.

[2016-07-29 10:03] orlandothoeny opened #891 "Show parameter description from class"
Hello,

I want to display the description of my parameters in the /api/doc page.
Is this possible without adding the parameters manually?
I want to import it from the input/output class.

This is how my documentation looks:

![unbenannt](https://cloud.githubusercontent.com/assets/17168783/17244711/7f7c2f14-5583-11e6-8b5f-5eec6a446dab.png)

Here ist my ApiDoc of the controller action:

[code]

AppB

[2016-08-01 17:13] lgoral opened #892 "composer update Fatal error: Allowed memory size of xxx bytes exhausted (tried to allocate xxx bytes)"
On that PR https://github.com/nelmio/NelmioApiDocBundle/pull/885 withoud changing composer.json build failing  with composer update Fatal error: Allowed memory size of 1073741824 bytes exhausted (tried to allocate 134217728 bytes)

https://travis-ci.org/nelmio/NelmioApiDocBundle/jobs/148937810

[2016-08-04 09:03] #889 closed

[2016-08-05 10:41] manuelbcd commented on #538
+1

[2016-08-05 13:20] ghost opened #893 "disable _Locale"
How can I disable _locale from API DOC?
I have page with 4 languages but I haven't used it inside API.
API DOC generate 4 method for each language like:

[code]

These are the same methods. How to remove duplicate? (disable locale ony for API)

[2016-08-08 18:06] karser opened #894 "Symfony Serializer Parser"
Hello, I'm using Symfony serialization groups and I'd like to reflect them in the documentation.

[code]

But ApiDocExtractor extracts the wrong fields because it uses the wrong parsers: ValidationParser and JmsMetdataParser.
![image](https://cloud.githubusercontent.com/assets/1675033/17490537/ee676b98-5dab-11e6-836a-17d0c32d290e.png)

I haven't found SymfonySerializer parser [there](https://githu

[2016-08-10 11:41] schristiaans opened #896 "Questions on requirements, filters, parameters, response, responseMap, and parsedResponseMap"
@jdeveloper @leevigraham @grEvenX @kbsali @dunglas In regard to `@ApiDoc`:
What is the difference between `filters`, `requirements`, and `parameters`?
Also how to use `response`, `responseMap` and `parsedResponseMap` in `@ApiDoc`?

[2016-08-16 11:42] gotardo opened #897 "Problem when instantiating controllers as services"
Hi,
I have been working on an API and annotating the controller actions to generate documentation with NelmioApiDocBundle.
Everything worked fine until I changed the way I instantiate the Controllers and started declaring them as services. From that moment on, the documentation of the controllers declared as services are not working properly.
As a sample.
I have this in my `routing.yml`file:

[cod

[2016-08-18 08:43] xavier-dubreuil opened #898 "Add doc for dynamic routes"
Hello,

I develop a bundle that create dynamic routes for an API. How can I add documentation for those routes which don't have a specific controller action per route ?

[2016-08-18 08:55] hpatoio commented on #538
I think this should be closed. It seems that PR #744 has been refused.

[2016-08-18 09:09] willdurand commented on #538
Yep. But there should be a good news about OpenAPI/Swagger and this bundle. Stay tuned.

[2016-08-18 09:09] #538 closed

[2016-08-18 10:19] Nanakii commented on #867
I have the same issue, can we have some feedback on this ?

[2016-08-21 19:34] nicodmf opened #899 "Resource duplication"
The resource is duplicated if  :
- the name of the sections is at plural
- the name of the controller is the same
- the resource is fos rest cget action

There is no duplication if the name is singular.

**An exemple**
- section's name :  Events
- controller's name : EventsController
- action: EventsController::cget

![image](https://cloud.githubusercontent.com/assets/173332/17839389/7721cf34-67e6

[2016-08-22 18:27] joelwurtz opened #900 "[RFC] Future of NelmioApiDocBundle (v3 ?)"
Hello,

I recently contacted @willdurand for a plan about the future of this Bundle, as some of you have may have [read / heard](https://github.com/nelmio/NelmioApiDocBundle/releases/tag/2.13.0) that he does not wish to maintain this libray anymore.

In this text, he speaks about Swagger v2, which, i totally agree, is now close to be a defacto standard for REST API specification and documentation.

[2016-08-22 22:43] kix commented on #900
Keeping maintenance of this bundle is definitely a good idea.
However, I'd like to add something I think NelmioApiDoc had implemented better than Swagger currently has: the sandbox. Swagger has definitions, but for some reason it lacks a way to build requests from those, while already NelmioApiDoc has this option. Perhaps, this is something Swagger should implement in their UI, but I think this wa

[2016-08-23 08:03] server-may-cry commented on #900
@kix, for making requests you can use external tools like postman, which can import swagger.json

[2016-08-23 08:05] kix commented on #900
@server-may-cry, true, but, well, having this built-in makes showcasing APIs a lot easier. Add some styling and you're good to go, you can even show this API doc to a client and he can fiddle with things. Of course, Swagger-enabled clients are nice, but isn't it good to have a built-in alternative?
This could make API user onboarding a lot better IMO.

[2016-08-23 08:13] Ener-Getick commented on #900
That's indeed a good idea :)
I began a bundle going in that direction (but supporting many sources), maybe we can merge our efforts ?

ping @dunglas

[2016-08-23 08:30] dunglas commented on #900
Hi everybody,

We worked hard on API Platform v2 (the first stable release is ongoing) to make it usable as a set of standalone PHP components. Some of those components are dedicated to API documentation and are viable and modern alternative to NelmioApiDoc.

3 components can serve as a foundation for a new documentation generator:

* The "metadata" component (relying itself on the Symfony's Prope

[2016-08-23 09:20] joelwurtz commented on #900
Swagger ui allows you to try request from any definition, isn't this enough ?

@dunglas i think there is room for multiple libraries generating a swagger specifiction, api platform is certainly a awesome way to build an API with Symfony, however there is still people who prefer to grap a single bundle and inject it into their current symfony project.

Also having this as a v3 will allow a smooth u

[2016-08-23 09:29] Ener-Getick commented on #900
@joelwurtz i use [my own fork](https://github.com/Ener-Getick/swagger) of `gossi/swagger` is that what you want ?
About my bundle it is not ready to use anyway so i'm ready to deprecate it. What do you think about using it as the bases of v3?

[2016-08-23 09:35] joelwurtz commented on #900
I was thinking of extracting this : https://github.com/jolicode/jane-openapi/tree/master/generated into its own library, which his generated code from the swagger specification (as a json schema) so normally it has 100% support of the spec.

[2016-08-23 09:39] Ener-Getick commented on #900
Looks good indeed :+1: would you like to create a new github team for that ?

[2016-08-23 09:48] hpatoio commented on #900
I recently start to move away from this bundle in favour of [swagger-php](https://github.com/zircote/swagger-php) Of course is not as integrated as this bundle with symfony and you need a bit of extra work (many things are not taken automatically from Symfony conf/code) but it works very well.

So my point is why create another swagger generator instead of create a bridge/integration between symfo

[2016-08-23 09:52] dunglas commented on #900
@joelwurtz Maybe I not make myself clear but I'm not speaking about using API Platform. We've done something like a "common package for serialize / deserialize a swagger spec" and we propose to make it generic enough to use it as foundation.

[2016-08-23 09:55] Ener-Getick commented on #900
@hpatoio that's more or less what i tried to do in https://github.com/EXSyst/ApiDocBundle.
For example, it can read the docs generated by swagger-php but also complete it (read params from the path, read other annotations, etc).

[2016-08-23 10:03] hpatoio commented on #900
@Ener-Getick hard to understand what that bundle was doing without doc :)
Would be great if you could provide an integration/usage example !

[2016-08-23 10:06] Ener-Getick commented on #900
@hpatoio the output/definitions part is missing for now (except using swagger-php). It's a good example of what we can do but that's not ready to use in prod :)

I'll try to add a readme soon ;)

[2016-08-23 10:21] dbu commented on #900
i like the approach of api platform with having a concept of metadata and then a separate step to generate swagger / hydra / whatever format from that. if those components can be split into separate bits that can be used stand alone (like the symfony components) that would be awesome. it would probably need an effort to reduce dependency on "core" classes of api platform - if it ends up pulling ha

[2016-08-23 10:36] dunglas commented on #900
@dbu it's designed to be split as it's done for Symfony component. Tests and dependencies are basically independents. What is missing right now is the read-only split and `composer.json` files for components.

[2016-08-23 10:39] stof commented on #900
@dunglas for the split, you can contact Fabien to automate it with splitsh. He said he can run it for free for OSS projects asking for it (he is managing the split of laravel repos for instance)

[2016-08-23 11:17] Simperfit commented on #900
We could all work together based on what we have done with the Api-Platform team for swagger.

[2016-08-23 12:34] joelwurtz commented on #900
All this library need is a way to convert data extracted from various component into an OpenAPI  (Swagger) specification, based on the previous discussion and other ideas there is ATM 4 ways of doing that:

 * Using the OpenAPI  (Swagger) serializer from API Platform (extracted into his own component)
 * Using the OpenAPI  (Swagger) serializer from gossi/Swagger (or the fork)
 * Using the OpenAPI

[2016-08-23 12:44] Ener-Getick commented on #900
I agree with you for the metadata part of ApiPlatform but i think we can share code generating our models.

My preference goes to a part of 2 and 3 :p
I mean using the generated models provided by your library as the bases and then add shortcuts on top of it (to merge documents, get parameters by their unique id (name/in), etc).

I agree with you for the last point, it looks practical but can quic

[2016-08-23 13:02] joelwurtz commented on #900
I'm fine with providing shortcuts, however their should be reduce to the strict minimum, as always it add a cost on the maintenance and , IMO, this is the first measure an open source library must be aware of.

[2016-08-23 15:14] dbu commented on #900
from my point of view, we need to separate the basic models and
conversion to open-api (and possibly other formats?) from where the data
for building the models comes from. the approach for building the models
has to be pluggable, so that different things like configuration files,
annotations or e.g. symfony extractors (and the doctrine extractors that
nelmio api doc afaik has) can be combined to

[2016-08-23 15:19] dunglas commented on #900
It *should* be relatively easy to transform instances of the `ApiDoc` annotation (the data structure storing the structure of the API in this bundle) to instances of ApiPlatform metadata's VO. It will require some adaptations to API Platform and Nelmio but when this step will be done, we got a reusable support for Swagger v2, Hydra and an UI.

[2016-08-23 15:26] Ener-Getick commented on #900
@dunglas could you provide us a small example (pseudo-code) of how you would do the conversion ? I still don't see an easy way for doing it :/

[2016-08-23 21:47] Ener-Getick commented on #900
BTW i opened https://github.com/nelmio/NelmioApiDocBundle/issues/848 a while ago but i had no answer.
I applied the principles i wanted for this bundle to my own except that mine can support any library generating swagger doc.

[2016-08-25 02:48] schristiaans commented on #896
Seems like this repo is no longer maintained.

[2016-08-25 15:48] mcdir opened #903 "A lot of "Missing messages" at Translation Messages."
subject
Please, take a look at [PR](https://github.com/nelmio/NelmioApiDocBundle/pull/904).

[2016-08-25 20:02] exchentrix opened #905 "@ApiDoc output param does not work as expected"
Hey,

thank you for this awesome bundle. I noticed some strange behaviour when using the output param in the @ApiDoc Annotation:

[code]

This action outputs the following:

[code]

The serialization is done correct. Here is my configuration:

[code]

Unfortunately, the api docs just exposes name, email and plain_password (which is excluded). I will attach an screenshot:

![nelmio_api_docs](https:

[2016-08-26 12:33] willdurand commented on #896
It is.

I spent a lot of time writing documentation. It might be not enough but I did my best given my free time.

[2016-08-26 12:33] willdurand commented on #896
Filters are part of the query string for filtering the results like pagination params, sorting, etc.

[2016-08-26 12:40] willdurand commented on #905
Mme deo you have serialization groups maybe?

[2016-08-26 12:41] exchentrix commented on #905
Hm...no, I dont have serialization groups defined.

[2016-08-26 12:54] willdurand commented on #905
Does clearing the cache help? You probably did that already but I cannot find issues with JMS for such a basic example. Except maybe an issue with a version of JMS serializer..

[2016-08-26 13:20] exchentrix commented on #905
Yes, I already had cleaned my cache. Just the same result. I'm using 2.13.0 of the bundle.

[2016-08-26 13:25] exchentrix commented on #905
Could it has something to do with inheritance or FOSUserBundle? I'm using propel.

The CustomerClass extends an BaseCustomer, which extends an AbstractModel, which extends the BaseObject. The CustomerClass also implements FOS\UserBundle\Model\UserInterface.

[2016-08-26 13:42] willdurand commented on #905
I don't think so because the serialization is done properly..

[2016-08-27 15:31] exchentrix commented on #905
Hmm....from the Parser\JmsMetaDataParser.php:

[code]

Unfortunately, $item->type is null for each $item and so, the parser is not collecting the class properties.

Do you know, what can causes this? I'm on PHP 7 btw.

[2016-08-27 16:02] willdurand commented on #905
Maybe a change in the serializer lib then. I thought about this type thing too.

[2016-08-27 17:31] exchentrix commented on #905
Strange things are going on...

From the JMS\Serializer\Metadata\Driver\YamlDriver.php

[code]

Seems, that are only setting the type, if you have it configured. I don't have. If I make a test and configure the type, the appropriate property is exposed to the ApiDocs:

[code]

In that case "last_login" is visible on the ApiDocs.

Do you know more about that? Is this the default behaviour? I can re

[2016-08-27 17:31] #905 closed

[2016-08-27 17:44] exchentrix commented on #905
Ah no, I'm wrong. I just checked my old project. Behaviour is the same. Ok, then I will configure the type of my serializer configuration.

[2016-08-27 17:54] willdurand commented on #905
Oh nice to hear. I completely forgot about this. To me, it is a bit counterproductive..

[2016-08-27 17:56] exchentrix commented on #905
Yeah, unfortunately it is. I thought there is a type guesser or something else, which does this automatically. Anyway it's working now. So thanks again for your help.

[2016-08-27 17:57] exchentrix commented on #905
Btw...do you know how to exclude the ValidationParser, so that the validation properties are not exposed to the api docs?

[2016-08-27 18:01] willdurand commented on #905
I think you have to specify the parsers

[2016-08-27 18:05] exchentrix commented on #905
Ah, I see. It's working like a charm now. Thanks again for this great bundle.

[2016-08-30 02:48] duckr1031 opened #906 "can't see output Description"
In My Controller:
output = {"class" = "UserBundle\Entity\UserWrapper",},
In My UserWrapper.php:
![image](https://cloud.githubusercontent.com/assets/21094356/18074428/13d371a2-6e9f-11e6-8673-123340747e5e.png)
I can't see output Description
![image](https://cloud.githubusercontent.com/assets/21094356/18074436/30b2b7ce-6e9f-11e6-93b9-98a5666c609b.png)
How Can I add output description, thanks!

[2016-08-30 02:50] duckr1031 commented on #906
@jdeveloper @leevigraham @grEvenX @kbsali @dunglas please help, thanks

[2016-08-30 13:11] schristiaans commented on #896
@willdurand Thank you so much! I decided to use RAML for documenting my API.

[2016-08-30 13:11] #896 closed

[2016-08-31 11:43] Mairu commented on #867
You can use `@SerializedName("zipCode")` annotation from JMS to use only camelCase notation as workaround.

[2016-09-01 12:40] MlleDelphine commented on #706
I encountered the same behavior.
Change :
`@Rest\QueryParam(name="token")`
for
`@Rest\RequestParam(name="token")`

Hope this helps

[2016-09-01 12:52] faost commented on #706
Send query string in post request doesn't make sense semantically, good explanation http://stackoverflow.com/a/26717908/418418

[2016-09-01 12:52] #706 closed

[2016-09-06 17:59] franciscomemoli commented on #559
+1

[2016-09-06 18:03] franciscomemoli commented on #559
I found a temporal solution doing this
*      {"name"="extradata", "dataType"="string", "required"=false, "description"="This is my JSON {""yearsold"": ""25"", ""name"":""Fran""}"},
using double double quotes.
Hope this help you.

[2016-09-08 15:58] nateevans commented on #876
+1

[2016-09-09 09:21] wikimatze opened #909 "Symfony 3 deprecation warnings"
Hi,

I'm right in the middle of updating my Symfony projects, running the `deprecation-detector.phar` on the master of this projects gives me the following message:

[code]

Are there any plans to get refactor this code?

Cheers,

Matthias

[2016-09-09 10:46] bjoernHeneka commented on #631
Would be also interested in a way how to handle that.

[2016-09-09 12:51] willdurand commented on #909
This bundle works with Symfony 3.0 as far as I know.. But yes, this will be removed at some point.

[2016-09-09 20:39] ruscon commented on #893
you need
[code]

sample
[code]

[2016-09-09 20:43] ruscon opened #911 "Bug with api doc page"
after updating from 2.12.0 to 2.13.0

![Image of Yaktocat](https://api.monosnap.com/rpc/file/download?id=NKPcILzYGTzilQbx1uKoWjMii0EWVu)

[2016-09-11 10:06] BigZ commented on #900
why not just create a dumper command for swaggerv2 format and deprecate the actual ui & swagger v1 dumper ?
i was really kean to try dredd, so i did some [quick POC](https://github.com/BigZ/promoteapi/blob/master/src/bigz/Swagger2Bundle/Formatter/Swagger2Formatter.php) and it looks like a viable way to go to me

[2016-09-11 10:08] Ener-Getick commented on #900
@BigZ because the bundle is based on an old api which is not adapted for new usages and that makes maintenance really hard.

[2016-09-11 11:12] ruscon commented on #892
Fixed https://github.com/nelmio/NelmioApiDocBundle/pull/912

[2016-09-12 09:48] CaptainQuirk commented on #867
Having the same difficulty here. I don't want to use the camelCase version and using the underscore version in the ```@SerializedName``` annotation doesn't work : It get's dupplicated.

[2016-09-12 10:06] CaptainQuirk commented on #867
Sorry ! You have to configure the parsers ! However, if you want the jms serializer to be respected and validation assertion to be taken into account, you're in trouble !

[2016-09-13 18:50] juansss opened #913 "Exclude patterns"
Any possibility to exclude patterns in the bundle configuration?

[2016-09-14 09:07] BigZ commented on #900
yep, i suggested it to somehow keep NelmioApiDocBundle alive.
But truth is, if no one wants to maintain it anymore, why not starting from the "beginning" again.
It can be ok to accept multiple ways of definition, but i think we should strongly suggest one and carefully select it as for instance swagger-php introduce a lot of redundancy in a symfony application.
Serializing should also be configura

[2016-09-14 11:11] Ener-Getick commented on #900
@BizZ my idea was to create a new bundle and support the nelmio's annotation to ease the transition to another system (or support a new system for new code).

And configurable serialization is fine for me :)

[2016-09-14 13:04] Ener-Getick commented on #900
@joelwurtz btw do you think it would be possible to support merging documents in your library ? (using the `object_to_populate` context key for example)

From what I see, the biggest issue is merging parameters as their unique key is not explicit.

[2016-09-20 13:50] Lube commented on #652
Anyone found a workaround?

[2016-09-20 14:17] Lube opened #914 "Integer parameters being escaped in Sandbox"
Maybe im missing something but I cannot get this to work.

Annotation:
  /*\*
- @Route(" ")
- @Method({"POST"})
- @ApiDoc(
-  resource=true,
-  description="Creates a Lote",
-  section = "RFID",
-  tags={
-    "a revisar: Nahu" = "#f0ad4e"
-  },
-  parameters={
-      {
-       "name"="evento[id]",
-       "dataType"="integer",
-       "actualType"="integer",
-       "required"=false,
-       "des

[2016-09-23 19:19] jmaheux commented on #754
As of version 2.13.0, this is apparently not possible to have a "/" in a view name. I agree that this would be  a nice improvement.

[2016-09-23 21:07] #798 closed

[2016-09-25 19:07] cojack opened #916 "Instalation overrides my parameters.yml file"
When I do:

`composer require nelmio/api-doc-bundle`

I have got an output:

[code]

Why it forces my parameters.yml file and remove my additional config params?
There is any `switch` to skip this action? It's nonsens.

[2016-09-25 21:17] pierre-tranchard commented on #916
All the global parameters (declared in app/config/parameters.yml) needs to be declared in the distribuable parameters file (app/config/parameters.yml.dist).
When you execute a composer instruction, it ensures that all the describe parameters are present in the parameters.yml file (which is not versioned), no matters what their value.
If it finds a non-declared parameter in the distribuable paramet

[2016-10-03 19:10] #836 closed

[2016-10-10 10:09] sfarkas1988 commented on #867
Is this a new issue or was it always this way? I've exactly the same problem and don't see a valid reason for it.

[2016-10-10 15:35] devchunin commented on #822
I need a solution for this issue too

[2016-10-14 09:13] djaney commented on #529
Any workarounds for this?

[2016-10-17 21:24] jmaheux commented on #529
What I ended up doing is using a custom parser. I only used the postParse function. It transforms every camelCase properties to snake_case. This solved the issue for me. [You can see it here](https://gist.github.com/jmaheux/f8eede3794ed45fc06b2f32ca80f6faf).

[2016-10-17 21:27] jmaheux commented on #867
I used a custom parser for this. See my comment on [this other issue](https://github.com/nelmio/NelmioApiDocBundle/issues/529#issuecomment-254338664).

[2016-10-20 14:41] aistis- commented on #269
Same on Yaml:

[code]

[2016-10-21 10:08] alexspark21 opened #925 "Swagger version 1.2 is old"
When run command -> php app/console api:swagger:dump swagger-docs
created  files but they have **"swaggerVersion":"1.2"**

http://editor.swagger.io/#/ do  support   **only version 2**

[2016-10-21 12:29] Diwann commented on #538
Hi, any news about the good news?

[2016-10-21 13:17] willdurand commented on #538
It is under discussion in #900

[2016-10-21 13:28] pdolinaj commented on #833
Has anyone manage to figure this one out? I am struggling with this as well - I specify the form and in the DOCs nothing gets displayed for testing (no input fields from the form). Many thanks.

[2016-10-24 08:13] hpatoio commented on #925
Please see #900 and #538

[2016-10-26 13:35] Filip-Konkowski commented on #881
I have exactly the same problem. $this->classExists['Nelmio\ApiDocBundle\Annotation\ApiDoc'] = true; also works.
I am using
"nelmio/api-doc-bundle": "2.11.0"
"symfony/symfony": "~2.7.0",
"doctrine/orm": "~2.4",

Any suggestions how it can be solved?

[2016-11-01 03:37] GasparMDQ opened #927 "Parsing named array property does not seems to work"
I need to generate this documentation:
[code]

with this annotation:
[code]

But all I get back is:

[code]

Which is the same result that I get if I use:
`
     * @JMS\Type("array<ApiBundle\Entity\Link>")
`
without the *string* value.

It looks like a bug, o maybe is a feature that is not available.
On the bundle code I found [this line](https://github.com/nelmio/NelmioApiDocBundle/blob/master/Pa

[2016-11-03 11:32] Vladimir-Voloshin opened #928 "How to actually launch this thing so it will generate at least something?"
If those configurations
[https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/doc/index.rst](url)
are enough for this bundle to generate docs?
Can someone provide existing project one can review? Coz your docs are lame. Really.

[2016-11-04 11:00] charliefancelli commented on #809
Same this for me.
For exemple you have 2 Controllers : "TestController" and "MeController".

You set a prefix like /test for TestController and declare a popAction in it.
So the route should be /test/pop

You set a prefix like /me for MeController and declare a popAction in it.
So the route should be /me/pop

But if we debug the routes we only have /test/pop or /me/pop (the first declare is erase

[2016-11-04 11:00] charliefancelli commented on #809
Same this for me.
For exemple you have 2 Controllers : "TestController" and "MeController".

You set a prefix like /test for TestController and declare a popAction in it.
So the route should be /test/pop

You set a prefix like /me for MeController and declare a popAction in it.
So the route should be /me/pop

But if we debug the routes we only have /test/pop or /me/pop (the first declare is erase

[2016-11-05 01:30] maxpou commented on #809
@charliefancelli It's not related to NelmioApiDocBundle... but in the [FOSRestBundle](https://github.com/FriendsOfSymfony/FOSRestBundle) instead!

[2016-11-08 09:30] althaus commented on #928
It misses a link to the docs located at the Symfony page:

http://symfony.com/doc/current/bundles/NelmioApiDocBundle/index.html

[2016-11-08 16:43] Tytam opened #929 "Symfony 3 - nelmio_api_doc_index route does not exist"
Hi I started with Symfony just a month ago.

Does this work in Symfony 3?

On-The-Fly Documentation¶
By calling an URL with the parameter ?_doc=1, you will get the corresponding documentation if available.

Because i get this error:
{"code":500,"message":"An exception has been thrown during the rendering of a template (\"Unable to generate a URL for the named route \"nelmio_api_doc_index\" as such

[2016-11-10 18:20] CesarCarrazana commented on #899
+1

[2016-11-17 04:21] behram commented on #822
@devchunin i solved this issue with routing options. you can inspect below links;

 - https://github.com/ojs/ojs/blob/master/src/Ojs/ApiBundle/Resources/config/routing_rest.yml#L7
 - https://github.com/ojs/ojs/blob/master/src/Ojs/ApiBundle/Service/Twig/ApiTwigExtension.php#L29
 - https://github.com/ojs/ojs/blob/master/app/Resources/NelmioApiDocBundle/views/layout.html.twig#L699

[2016-11-17 04:21] behram commented on #822
i solved problem, so closing issue

[2016-11-17 04:21] #822 closed

[2016-11-18 09:16] magnetik commented on #900
I'm willing to help (if needed) to get some of theses alternatives to move forward.

Is https://github.com/EXSyst/ApiDocBundle the current POC/Wip-project community prefered choice?

[2016-11-18 10:26] GuilhemN commented on #900
@magnetik only me worked on it, i don't know if the others agree with this bases but imo it's a good begining.

[2016-11-18 12:57] BigZ commented on #900
any news from the component split of API Platform @dunglas ?
@GuilhemN you are the only one to have provided a draft from what i read, so if something else doesn't show up i suggest we go for your implementation idea - but for that we need a little doc first :)

[2016-11-18 16:51] joelwurtz commented on #900
Hey, we discuss this IRL with @dunglas some weeks ago, i wanted to reported back our discussion, but just completely forget sorry :/

To resume: the main conflict point here was which representation would act as a reference for defining ressources and data from an API in the future version, as we can :

 * Keep the existing one (the ApiResource annotation)
 * Use the swagger as a reference by usin

[2016-11-18 17:40] GuilhemN commented on #900
@joelwurtz sure I'd be interested to be involved in this.

I think we should keep supporting nelmio's annotation but not using it as reference.
I tried using @api-platform's models but as Hydra is resource-oriented while Swagger is path-oriented it was hard to pass from routes to resources. Imo it would be more efficient to use swagger based models as we could easily support Api-Platform but also

[2016-11-18 21:37] goetas commented on #900
HI all, this  initiative looks very good. I'm available to help integrating jms serializer support. As I know is still the default seralization driver in fos rest bundle

[2016-11-19 08:44] Simperfit commented on #900
@joelwurtz @GuilhemN Same I'm interested to be involved in this too just tell me ;).

[2016-11-22 22:23] adiachenko commented on #525
Can we somehow get [this](https://github.com/VIACentraleReseaux/NelmioApiDocBundle/commit/24fd0999dce0078e654e19e103b81691b26d8693) merged, please?

[2016-11-23 09:57] etordiaz commented on #833
Hey @pdolinaj how did you manage to make it work? Still stucked on this.

[2016-11-23 19:37] neoshadybeat opened #930 "Underscore in input and output annotations"
Is there any options to have your input class and your output class undescored out of the box?

[2016-11-25 09:34] stingus commented on #509
+1

[2016-12-02 16:04] manuelbcd opened #931 "Nelmio ApiDoc consumming too much memory"
Hi, my application has a big ammount of Documents (ODM) and API's and I'm facing several problems with memory.

If I set any value below 256M in my PHP.ini the Doc throws a Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 12288 bytes) in /var/www/html/vendor/twig/twig/lib/Twig/Node/Module.php on line 149

I'm wondering if Nelmio API could be sliced in order to avoid

[2016-12-12 09:20] Nikoms commented on #911
I will try to fix it... But can somebody tell me what's the purpose of this? Can I just hide these links?

[2016-12-13 09:40] decima opened #933 "documentation field useless"
Nelmio\ApiDocBundle\Annotation\ApiDoc :
missing in constructor:
` if (isset($data['documentation'])) {
            $this->documentation = $data['documentation'];
        }`

[2016-12-13 21:12] Bored0ne commented on #509
+1

[2016-12-16 12:02] manuelbcd commented on #925
+1
There are much people behind that.

[2016-12-19 15:37] GuilhemN commented on #848
I created [a new bundle](https://github.com/EXSyst/ApiDocBundle) that aims to replace the NelmioApiDoBundle. Feel free to review/contribute :)

[2016-12-19 16:16] willdurand commented on #848
Great, but why not reusing NelmioApiDoBundle so that people don't get lost? You don't need to promote it because everyone knows it, etc.?

[2016-12-19 16:44] GuilhemN commented on #848
Sure that would be great. In fact, EXSystApiDocBundle is my proposal to https://github.com/nelmio/NelmioApiDocBundle/issues/900 (it was created before it, but it was already my vision of NelmioApiDocBundle's future).
I only got one feedback so I don't know if the others agree to my implementation.

If you agree I can move my repository as a `dev` branch of this repository, it may be easier to get

[2016-12-19 16:49] willdurand commented on #848
Sure. Let's ping @Seldaek for the push/pull rights and @joelwurtz who started #900.

[2016-12-21 14:58] aaronahearne commented on #589
If your'e finding this error is being thrown without a file name or a line number listed, you may be missing the "required" field in one of your parameter declarations.

[2016-12-22 14:42] KeKKai commented on #509
@willdurand is there any possibility this issue will be resolved?

[2016-12-27 14:16] gabykant opened #936 "NemioApiDocBundle is not working"
Something strange with this bundle.
Here is my routing config
[code]

But when I add this inside the controller, I can't get the documentation displaying.
[code]
What is missing here ?

[2016-12-28 13:56] Seldaek commented on #848
I sent an invite to @joelwurtz, sorry for the delay, xmas and all :)

[2016-12-28 13:57] Seldaek commented on #848
Oh maybe I misunderstood. You wanted me to add @GuilhemN? Should I add Joel anyway or not?

[2016-12-29 10:39] GuilhemN commented on #848
@Seldaek thanks ! And no problem for the delay, I didn't progress much anyway ;)

[2016-12-29 11:12] #925 closed

[2016-12-29 11:25] GuilhemN commented on #909
@wikimatze we can't remove this deprecations because of bc but when using 3.0, this parts are no longer executed and the bundle works fine.

[2016-12-29 11:25] #909 closed

[2016-12-29 12:08] GuilhemN commented on #936
Maybe using a single doc block would fix your issue?
(e.g. `/** @ApiDoc() */ /** @Route() */ would become `/** @ApiDoc() * @Route() */`)

[2016-12-29 12:39] GuilhemN commented on #900
I pushed my changes to the [`dev` branch](https://github.com/nelmio/NelmioApiDocBundle/tree/dev) :)

[2016-12-29 14:24] #916 closed

[2016-12-30 18:29] GuilhemN opened #939 "[3.0] Should we remove the ApiDoc annotation ?"
If we decide to merge https://github.com/nelmio/NelmioApiDocBundle/pull/938, then the Swagger-php annotations will be very powerful and easy to use.
In that case, we can wonder whether `@ApiDoc` will still be useful.

My biggest concern is about models: Swagger-php can't guess how a model is whereas this bundle can when using `@ApiDoc::$input` and `@ApiDoc::$output`; so if we only use Swagger-php

[2017-01-01 19:49] GuilhemN commented on #913
What do you mean exactly? Excluding some routes ?

[2017-01-01 20:49] joelwurtz commented on #939
IMO it should be kept for BC and propose a upgrade path, even if it's 3.0 it doesn't mean we should be BC here (as it's really a core feature, many people will be blocked for upgrading if we remove this)

[2017-01-01 21:20] GuilhemN commented on #939
I agree but @dbu's arguments are also true :

annotations. they are easy to batch replace in user code. having 2 for the
same is really confusing

Imo we should keep its primary fields but disadvise to use it and advise to use instead swagger-php annotations.

[2017-01-02 10:22] juansss commented on #913
@GuilhemN  For instance i dont want documentation on routes starting with internal_api_....

Is this possible?

[2017-01-02 10:29] GuilhemN commented on #913
You can extend `ApiDocExtractor::getRoutes()` but it is not officialy supported.
This will probably be much easier to do in `3.0` (supported in the config).

[2017-01-02 10:31] juansss commented on #913
@GuilhemN  Thanks!

[2017-01-02 11:42] joelwurtz commented on #939
agree on that but the removal should be on a 4.0 not 3.0, or we should provide a intermediary version in the 2.x versions

[2017-01-02 11:48] GuilhemN commented on #939
@joelwurtz having a last 2.x version should be better but it would require a certain investment to support swagger-php. I don't think it is worth it as it is much easier to support `@ApiDoc` in 3.0.
Maybe we can directly deprecate `@ApiDoc` in 3.0, it sounds weird but it would clarify our position without complexifying the migration.

[2017-01-02 13:24] dbu commented on #939
i would not go to the hassle of providing a 2.x version with swagger-php support.

i also would not provide redundant annotations, not even for BC.

the things that `@ApiDoc` can that swagger-php can't should still be supported of course. either by keeping just those parts of `@ApiDoc` or by adding some new annotations to either swagger-php or here.

[2017-01-02 13:58] GuilhemN commented on #939
@dbu then should we target people to a tool [like yours](https://gist.github.com/dbu/7551f4ed2c5ad62c570d730ad8c1bb0c) to do their migration at once ?

[2017-01-02 14:09] GuilhemN opened #940 "[3.0] An annotation replacing @SWG\Schema ?"
If SwaggerPhp annotations become our primary tool (see https://github.com/nelmio/NelmioApiDocBundle/pull/938), maybe in complement of https://github.com/nelmio/NelmioApiDocBundle/pull/937, we should have our own annotation that would be used in SwaggerPhp annotations (replacing `@SWG\Schema`).
An example, before:
[code]

After:
[code]

[2017-01-02 14:24] dbu commented on #939
that could help. forgot that i wrote that :-)

sooner or later the migration has to happen anyways, no point in
postponing that. there will be some migration needed anyways, imho its
better to have that once than carrying technical debt around and needing
to migrate the rest of your annotations again later.

[2017-01-02 14:32] GuilhemN commented on #939
If we provide a tool to do the migration easily, then it's fine for me to remove `@ApiDoc`.

I agree with you it is better to fix the technical debt asap but it can be hard on a big codebase, having a tool is mandatory imo if we want to remove `@ApiDoc` in 3.0.

[2017-01-03 13:03] willdurand commented on #939
:+1:

[2017-01-03 13:07] willdurand commented on #900
@goetas @Simperfit don't hesitate to follow/review what is under development.

Closing this issue now that we have new people on board!

[2017-01-03 13:07] #900 closed

[2017-01-03 17:52] GuilhemN commented on #848
Closing as it's now a Work In Progress :)
Thanks !

[2017-01-03 17:52] #848 closed

[2017-01-04 13:00] magnetik commented on #939
I've mixed feelings about this.

Will it be possible to use swagger-php annotations for the needs and evolution of this bundle?
For instance can #940 be done without losing the compatibility with swagger-php?

---

Of course if there is a tool that can migrate the annotation easily, let's go for it.

[2017-01-04 13:07] GuilhemN commented on #939
We'll still be able to create our own annotations if we have the need (I only see models for now).

Do you mean moving an app using swagger-php to NelmioApiDocBundle?
If yes, it is possible, my PRs are extending Swagger-php but it is not modified itself. However the opposite won't be possible as the bundle proposes features on top of Swagger-Php annotations.

[2017-01-04 13:30] dbu commented on #939
i would not suggest a general policy to not have annoations provided by
this bundle. it might even make sense to keep ApiDoc itself but with
less parameters - i just think we have to avoid duplicate annotations
for the same things.

[2017-01-04 16:19] magnetik opened #942 "[3.0] Html output ?"
Hey,

I find it disturbingly strange that there are no *easy* way to have a clean/nice HTML output from the swagger.

I've tested ReDoc (javascript), swagger2markup (java), bootprint-openapi (npm).
Since all theses solutions are not in PHP, it's sort of difficult to integrate it directly.

Is it out of the scope of the bundle ?

[2017-01-04 18:48] GuilhemN commented on #942
I'd like to integrate [swagger-ui](https://github.com/swagger-api/swagger-ui) directly in the bundle like [Api-platform](https://github.com/api-platform/core) does but I try to focus on the php part for now.
However, PRs are welcome for that :wink:

[2017-01-05 03:55] romanga commented on #657
this can be fixed relatively easy imo:
to support
/events.json?promotorIds[]=1&promotorIds[]=2&offset=0&limit=100 in sandbox
layout.html.twig needs to be slightly modified as follow:
layout.html.twig:469
{code}
 if (key.endsWith("[]")) {
                                    subkey = key.substr(0, key.length-2);
                                    if (!params[subkey]) {

[2017-01-06 10:17] Yonn-Trimoreau opened #944 "Sandbox : How to tell that a route needs authentication"
Hi,

Here is my config.yml :
[code]

Here is an example annotation :
[code]

I set my api key in NelmioApiDoc's top bar.

Now when I click on "Try It !" for the corresponding route, the Authorization header is not sent :

![api documentation](https://cloud.githubusercontent.com/assets/5746666/21714458/518d4d22-d3ff-11e6-9092-73291ca3e1f8.png)

And my question is : why ?

Thanks in advance

[2017-01-06 17:09] GuilhemN commented on #944
It seems to me that you're overriding it in the sandbox. Can you try removing the `Authorization` header in the sandbox of the route you're trying to access?

[2017-01-06 17:35] gornostal commented on #931
@manuelbcd have you found any workaround?

[2017-01-06 19:09] Yonn-Trimoreau commented on #944
Tried it already. No luck 😢

[2017-01-06 22:32] manuelbcd commented on #931
Not yet @gornostal. We are still evaluating the best solution possible. I'm wondering if nobody faced the same problem since I think it would be normal in any big application.

[2017-01-06 22:36] manuelbcd commented on #939
Let me clarify myself. I'm happy with swg-php annotations but... what happens with doctrine reflection? Is swg-php supporting auto extraction of information from object like ApiDoc do?  It's one of the best features of ApiDoc bundle.

[2017-01-06 22:37] GuilhemN commented on #939
@manuelbcd this is what would solve https://github.com/nelmio/NelmioApiDocBundle/pull/943.

[2017-01-06 22:42] manuelbcd commented on #939
+1 again. Thanks @GuilhemN

[2017-01-07 09:43] GuilhemN commented on #944
Then maybe try removing the Authorization header in your annotation?

[2017-01-08 13:30] Yonn-Trimoreau commented on #944
Tried it too..

[2017-01-10 10:05] smilesrg commented on #657
+1

[2017-01-12 01:46] rcatlin commented on #525
@GuilhemN ping

[2017-01-13 20:32] GuilhemN commented on #525
@adiachenko @rcatlin it looks like it has some issues, see https://github.com/nelmio/NelmioApiDocBundle/issues/525#issuecomment-151437507.

BTW @willdurand should we still merge features/bug fixes in 2.x ?

[2017-01-14 16:01] GuilhemN commented on #939
Done in #945, thanks !

[2017-01-14 16:01] #939 closed

[2017-01-15 13:15] Yonn-Trimoreau commented on #944
Is this an issue then ?

[2017-01-16 10:34] antoinemineau commented on #342
I have this issue, for a workaround i removed the assert Not Null and I created a custom callback such as :

`
public function hasNotNullFields(ExecutionContextInterface $context, $payload)
{
        if ($this->getSelection() == null) {
            $context->buildViolation('This value should not be null.')
                ->atPath('selection')
                ->addViolation();
        }

}
`

[2017-01-16 17:39] GuilhemN commented on #944
@Yonn-Trimoreau I can't tell, when I needed a bearer header, I had to put the prefix alongside with the token (eg `Bearer myToken`), did you do it?

[2017-01-17 08:40] dominikzogg opened #946 "AnnotationsProvider: allow to define resources"
I would like to replace the code https://github.com/nelmio/NelmioApiDocBundle/blob/master/Extractor/ApiDocExtractor.php#L144-L149 with:

[code]

to be able creating a xml based annotation provider which also defines resources.

Do i have a chance a PR would get merged?

[2017-01-17 09:04] Yonn-Trimoreau commented on #944
Yes. It works. But I expect not having to retype my Authorization header each time I use the sandbox. And that's actually a functionality of NelmioApiDocBundle, right ?

[2017-01-17 17:16] GuilhemN commented on #946
We're currently working on 3.0 and I don't know yet if we will release a last 2.x version but I think it is unlikely.

[2017-01-18 07:01] dominikzogg commented on #946
@GuilhemN how close to a stable is the dev branch? Is it worth to implement already logic on its class/method signatures already exists?

[2017-01-18 09:13] GuilhemN commented on #946
@dominikzogg we still have a lot to do so I can't tell yet. A lot of things may change so I don't advise to use it in prod but you can try it in your dev env.

[2017-01-18 09:14] dominikzogg commented on #946
@GuilhemN thanks for your response

[2017-01-18 11:39] GuilhemN commented on #944
Looking at the code, [it seems to be supported](https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/views/layout.html.twig#L601-L603) so it must be a bug.
I'm currently working on 3.0 and I don't have the time to investigate on this; if someone is willing to make a PR, feel free to do it :)

[2017-01-18 15:05] GuilhemN commented on #940
see https://github.com/nelmio/NelmioApiDocBundle/pull/943

[2017-01-18 15:05] #940 closed

[2017-01-18 15:59] magnetik opened #947 "[3.0]The SwaggerPhpDescriber only scan the kernel root dir."
Hi,

Line 8 of the `NelmioApiDocBundle/Resources/config/swagger_php.xml`, the project path is set as `%kernel.root_dir%`

If I'm not wrong, if should scan the whole source folders, no?

[2017-01-18 16:01] GuilhemN commented on #947
Indeed, it should be changed :)
I'd like to make it configurable and default to `%kernel.root_dir%/../src`.

[2017-01-19 09:34] Yonn-Trimoreau commented on #944
I will do this if I have time, but maybe in a long time. Time is running out of me for the moment. If someone is willing to do it before I do, I'll appreciate. And I will give him a cookie. <3

[2017-01-19 21:27] GuilhemN commented on #947
Fixed in https://github.com/nelmio/NelmioApiDocBundle/pull/949.

[2017-01-19 21:27] #947 closed

[2017-01-20 07:57] magnetik opened #950 "[3.0] The ObjectModelDescriber fails for some output of the PropertyInfo component"
Data class:

[code]

When the `ObjectModelDescriber` finds this class, the property info component extract this type:
[code]
(It's the `ReflectionExtractor` that does this. Not sure if it's a bug of the component, but I would prefer that it guesses the type from `PhpDocExtractor`)

Later the `ModelRegistry` fails to register it because it does not have a `collectionValueType`.

Not sure about what

[2017-01-20 18:47] GuilhemN commented on #950
I opened https://github.com/symfony/symfony/issues/21367.

[2017-01-23 13:56] GregoirePiat commented on #509
+1

[2017-01-26 22:05] tarlepp opened #955 "Using Your Own Annotations and how I can set ouput on there?"
It seems that `Nelmio\ApiDocBundle\Annotation\ApiDoc` does not support to override `$output` variable, why is that ?

We need this for dynamically set output vars from out endpoints.

Or what is the proper way to set custom output ?

[2017-01-26 22:14] tarlepp commented on #955
And what I'm trying to complish is that I have controllers like:

`https://github.com/tarlepp/symfony-backend/blob/master/src/App/Controller/AuthorController.php`
`https://github.com/tarlepp/symfony-backend/blob/master/src/App/Controller/BookController.php`

Which both use my  `generic` REST controller + service + repository to get all that data, and my goal is to generate API docs automatically t

[2017-01-28 15:02] tarlepp commented on #955
Seems like same thing is also within input.

[2017-01-29 10:51] #913 closed

[2017-01-31 06:00] GuilhemN commented on #950
This will be fixed in [the next symfony patches](https://github.com/symfony/symfony/pull/21370#event-942205876) :)

[2017-01-31 06:00] #950 closed

[2017-01-31 07:32] magnetik commented on #950
awesome ! Thanks for handling this :)

[2017-02-01 16:13] GuilhemN commented on #881
If you don't use [the symfony standard edition](https://github.com/symfony/symfony-standard/blob/master/app/autoload.php), you must configure the `AnnotationRegistry` manually:
[code]

[2017-02-01 16:15] #859 closed

[2017-02-01 16:16] GuilhemN commented on #840
Not yet, but it will be in 3.0.

[2017-02-01 16:16] #840 closed

[2017-02-01 16:44] GuilhemN opened #956 "[3.0] Should we support forms?"
The bundle currently supports forms as input, should we support it in 3.0?

[2017-02-02 10:03] Filip-Konkowski commented on #881
Hi GuilhemN,

I am using symfony standard edition in /app/autoload.php
[code]

Any other idea?

[2017-02-02 10:06] GuilhemN commented on #881
First you should not depend on a patch (`"nelmio/api-doc-bundle": "2.11.0"`), i'll search if I can find another reason for this error.

[2017-02-02 15:45] Alex-D commented on #956
It's sooooo convenient using Form as input, which avoid long doc and duplication.

[2017-02-02 16:42] GuilhemN commented on #956
I'm not using forms very much. Porting https://github.com/nelmio/NelmioApiDocBundle/blob/master/Parser/FormTypeParser.php should be enough but I can't be sure of that, so if someone is willing to make a PR, please do it :)

[2017-02-06 09:57] egils commented on #657
+1

[2017-02-06 18:05] mitrae commented on #509
+1

[2017-02-08 09:54] #778 closed

[2017-02-08 09:56] DavidGarciaCat opened #957 "Empty output when providing the class"
Hello,

I've just started to use this Bundle to generate my API docs, and although it works well I can see a problem (or at least it is from my side). Hope you can help.

My `config.yml` file is loading the by-default settings
[code]

And my Symfony controllers are using the `@ApiDoc` annotation to generate the API documentation.

However, when I set-up the `output` value (to refer to a valid clas

[2017-02-08 13:35] sergiu-cc opened #958 "WSSE Token for sandbox"
First of all, thank you for this bundle. I'm using it for an API which implements WSSE Token Authorization. It is possible to add/configure the sandbox with the specific header to try the endpoints?

Thank you

[2017-02-10 13:40] niniks commented on #931
@manuelbcd same problem here, i raised the memory to 1024 now and still it takes some time to generate the docs. Also scrolling through the docs is laggy, i need to say its not that strange because im loading around 150 controllers with multiple functions each.

Could it be an idea to introduce pagination in the api doc so it would be able to focus on chunks instead of the total, another thing cou

[2017-02-13 16:48] javiereguiluz opened #959 "Consider adding GitHub Topics to this repository"
Dear bundle maintainer(s), if you want to make this bundle easier to discover and want to help us creating a stronger Symfony ecosystem, please consider adding some GitHub topics to this repository.

[The official Symfony recommendation](https://symfony.com/blog/standardizing-the-github-topics-for-symfony-repositories) is to add `php`, `symfony`, `bundle` and `symfony-bundle` topics ... and then,

[2017-02-15 12:47] GuilhemN commented on #959
:+1:
ping @Seldaek

[2017-02-16 08:03] vazgen commented on #657
+1

[2017-02-16 12:22] NikitaKharkov commented on #530
I thing it will be cool if you can implement section to all class. And if we have a route with another section just rewrite parent.
Examples:
[code]

[2017-02-16 12:53] DavidGarciaCat commented on #957
Hello,

I just realised I get an empty response when I provide a DTO. However when I provide my Doctrine entity then the bundle returns all properties and mapped entities, nested.

Is there a reason why it works using Doctrine entities but not using other PHP Classes?

Thanks,

[2017-02-17 20:31] Seldaek commented on #959
Done

[2017-02-17 20:31] #959 closed

[2017-02-19 13:40] phansys opened #962 "[RFC] Integrate fabbot or styleci to build process in order to ensure CS rules"
In order to keep the clean codebase, some CS tool should be integrated to the build process, even in order to avoid undesired language constructions that don't match the required PHP version, as exposed at #961.
`fabbot` or `styleci` could be good.

[2017-02-19 14:34] GuilhemN commented on #962
:+1: I agree but i can't do it myself (i can't edit the config PC the repository).

[2017-02-20 19:48] quentin-berlemont commented on #944
@Yonn-Trimoreau

You need to specify delivery to "http":

nelmio_api_doc:
    sandbox:
        authentication:
            name:           Authorization
            delivery:       http
            type:           bearer

[2017-03-01 15:37] ScreamingDev opened #964 "Use DocComment @see"
I recently used @ see to reference another API endpoint.
Unfortunately this is nowhere in the documentation.
Is there some implementation for it or will it be a feature some day?

[2017-03-01 16:42] Neirda24 commented on #435
@willdurand : Hi.

Why these were closed ? It could be great to have a yaml configuration as annotations can become pretty heavy.

[2017-03-01 17:02] GuilhemN commented on #435
@Neirda24 it will be possible in 3.0, see https://github.com/nelmio/NelmioApiDocBundle/pull/953.

[2017-03-01 17:50] Neirda24 commented on #435
@GuilhemN : Not exactly... I meant something that would allow us to define ApiDoc not trough annotation exclusively but through a yaml (or several) also.

[2017-03-02 19:18] magnetik opened #965 "[3.0] Support swagger tag"
Hi,

If I'm not wrong, it seems that that the tags are added to the swagger document, but not added on routes.

Seems like a good addition

[2017-03-03 10:24] andreiciceu opened #967 "Output array"
Hello,

How can the `output` option from @ApiDoc annotation be used when multiple types are returned?
[code]
I would like the output section from the API documentation to show a description of both types.

Thank you!

[2017-03-03 16:10] GuilhemN commented on #965
What do you mean?
You can add tags on routes using
[code]

[2017-03-03 16:16] GuilhemN commented on #435
@Neirda24 that's what permit https://github.com/nelmio/NelmioApiDocBundle/pull/953:
[code]

[2017-03-03 16:22] Neirda24 commented on #435
@GuilhemN :
Thank you for your quick reply :).

So you confirm that we will be able to not use annotations at all anymore ? If so A documentation should be added maybe ? When do you think 3.0 will be released ?

[2017-03-03 16:35] GuilhemN commented on #435
@Neirda24 using the swagger specification, yes it will be. However, i don't think it will be the most convenient way to document your api as you'll have to duplicate your paths in several places.

That's on the todo list :)

It will depend of the time I can spend, the most important tasks remaining are https://github.com/nelmio/NelmioApiDocBundle/pull/948 and writing docs.

[2017-03-06 07:51] magnetik commented on #965
Since I'm using FOSRestBundle, I was not adding `@SWG\Get`, but I was adding `@SWG\Tag` on my action directly.
Obviously at the moment this does not work, but repeating the method to declare the tag feels wrong to me.

[2017-03-06 09:40] GuilhemN commented on #965
@magnetik it doesn't seem to be meant for this so it would first require a PR on Swagger-php repo to support `@Tag` in `@Operation`.
But otherwise I like it :+1: maybe we'll be able to get ride of `@Operation`

[2017-03-06 20:57] GuilhemN commented on #965
In fact, it is logical [according to the spec](http://swagger.io/specification/).
`Operation::$tags` is an array of strings while `Swagger::$tags` is an array of `Tag`, so I don't think we can change something here.

[2017-03-08 12:52] lrhoek opened #968 "Nested arrays of objects with the JMS\Inline annotation are not properly parsed"
Nested arrays of objects with the `JMS\Serializer\Annotation\Inline` annotation are not properly parsed by the JMS Metadata Parser.

For instance:

[code]

will result in:

| Parameter     | Type |
| ---      | ---       |
| collection[] | array of objects (SomeCollectionClass) |
| collection[][items][] | array of objects (SomeItemClass) |

instead of the desired:

| Parameter     | Type |
| ---

[2017-03-09 13:43] mvrhov commented on #830
As this has been merged IMO it should be closed.

[2017-03-09 17:17] numediaweb commented on #399
This doesn't work.
https://github.com/nelmio/NelmioApiDocBundle/issues/633

[2017-03-15 10:07] magnetik commented on #965
Yeah so I have to redefine the method using `@SWG\Get` or `@SWG\Post`, not a big fan of this.

Don't we need our own annotation to define things like that?

I was also wondering about supporting view (as defined in the v2), does it make sense to you?

[2017-03-15 10:19] magnetik opened #970 "[3.0] Routes with models are included even when not matching route filter"
Hi,

I should try to include a test minimal repro but it seems that route are included in the swagger even when they are not matching the route filter when they have a model definition.

Thanks

[2017-03-15 13:26] GuilhemN commented on #970
I think I'll just get ride of Swagger-php parser, it is very annoying for us for no gain.

[2017-03-16 16:29] GuilhemN commented on #965
me neither

We could make `@Tag` work at the root of methods only for this bundle, we already have a very different semantic than Swagger-Php anyway.

I'm not sure of the benefit, do you have an use case?

[2017-03-16 16:57] daevidvincent commented on #965
As someone coming from the old nelmio, our code has a bazillion @ApiDoc blocks. We then attempted to use Swagger-PHP (since other teams in our company are using that) but Symfony puked on all the @SWG annotations. FWIW, I would love it if this new Nelmio could handle the same annotations as Swagger-PHP to make the 2.0 output JSON. I saw you mention the semantic is different and that concerns me. T

[2017-03-16 17:04] GuilhemN commented on #965
@daevidvincent I understand your concern, when I say the semantic is different, I mean you can use something that is more adapted to symfony but the normal syntax will still work (to ease the migration).
For example these two doc blocks would be the same for nelmioapidocbundle:
[code]

We're gonna have our own parser that will only parse controller's methods but I think people coming from Swagger-

[2017-03-16 18:48] GuilhemN commented on #970
see https://github.com/nelmio/NelmioApiDocBundle/pull/973

[2017-03-17 08:27] magnetik opened #974 "[3.0][RFC] Support views (?)"
The ApiDocBundle v2 supported views to generate multiple documentation with different routes in it.

I've an use case that's quite similar to the one expressed [in the legacy documentation](https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/doc/multiple-api-doc.rst): I'd like to expose some features to some user (got some "internal" routes) and other to everyone ("public") routes.

[2017-03-17 08:27] magnetik commented on #965
I've created a different issue about the views support: #974

[2017-03-17 18:30] #970 closed

[2017-03-17 18:49] GuilhemN commented on #965
see https://github.com/nelmio/NelmioApiDocBundle/pull/975https://github.com/nelmio/NelmioApiDocBundle/pull/975

[2017-03-17 18:58] GuilhemN commented on #974
This is not supported by Swagger so I'm not sure how we could support it, a custom field (e.g. `x-view`), using path filters, etc.

The first one would be convenient, the second one would be harder to implement as the bundle is not meant to generate different docs for a single app.

[2017-03-21 19:58] anadomingos opened #977 "JmsParser does not allow the same collection twice"
I have 2 entities: AppBundle\Entity\User and AppBundle\Entity\School
In the School class, I have those annotations:

    /**
     * List of students.
     *
     * @ORM\...
     *
     * @JMS\Type("ArrayCollection<AppBundle\Entity\User>");
     * @JMS\Groups({ "mydoc" })
     * @JMS\SerializedName("students")
     * */
    protected $students;

    /**
     * List of teachers.
     *
     * @ORM\.

[2017-03-22 00:12] ChrOst opened #978 "input doesnt allow collection as parameter?"
I tried the same syntax for input then you can use it with output
now the following works:

[code]

while doing the same with input it just renders an empty parameters "table":
[code]

I was testing around more, Array<> and ArrayCollection<> ofc didnt work either.
And as sending JSON Objects using the following Syntax is allowed and deserializable, it should be documentable too:
[code]

Removing t

[2017-03-22 10:38] anadomingos commented on #906
I had the same problem and ended up installing JMSSerializerBundle

http://jmsyst.com/bundles/JMSSerializerBundle

How to use:

      use JMS\Serializer\Annotation as JMS;

      class MyClass {

          /**
            * This description with JSM annotation is visible in documentation.
            *
            * @JMS\Type("string");
            * @JMS\Groups({ "someGroup" })
            * @JMS

[2017-03-23 14:33] magnetik commented on #956
I'm willing to make the PR but I'm unsure of how to implement: I should add a type in the ModelDescriber?

[2017-03-23 15:36] numediaweb opened #979 "How to use the dataType array"
How can I make the sandbox send an array to the controller?
[code]

This turns a string.

Am I missing something? I checked the documentation but couldn't find anything related to arrays.

[2017-03-27 13:01] blackarcanis commented on #897
👍

[2017-03-27 13:07] BenjaminCanape commented on #708
Hey,

Did you find an answer to that ?
 I'm facing the same problem: the documentation shows the properties but not the relations of the resources.

[2017-03-27 13:14] BenjaminCanape commented on #521
+1

[2017-03-30 15:23] GuilhemN commented on #956
@magnetik yes, I think that's the way to go, probably with `return Type::BUILTIN_TYPE_OBJECT === $model->getType()->getBuiltinType() && FormInterface::class === $model->getType()->getBuiltinType()->getClassName();` in the `supports` method.

[2017-04-05 15:03] sebastiengregoire commented on #509
+1

[2017-04-06 14:03] coulon-xyz opened #981 "error message: the controller value maps a class, but this class was not found."
Hi,

This is a first installation.

I followed the exact steps from symfony's website (https://symfony.com/doc/current/bundles/NelmioApiDocBundle/index.html) and put a generic ApiDoc() on top of one my test function:

[code]
When I go to the api/doc url (http://localhost:8000/api/doc), I get the following message:

The _controller value "AppCoreBundle:Profile:myAccount" maps to a "App\CoreBundle\C

[2017-04-08 10:35] stingus commented on #958
Yes, configure the bundle:
[code]
You can than use a WSSE token generator (like https://chrome.google.com/webstore/detail/wsse-generator/piadnaffpgcjalpkfmkpgeamkajfeedc) to get the token properly formatted. Just fill in the token in the top authentication field of Nelmio UI (without the X-WSSE preffix). The downside is that you need to generate a new token for each request, since one WSSE token c

[2017-04-10 21:44] deivid11 commented on #657
+1

[2017-04-11 16:00] magnetik commented on #956
Yeah that's what I started.

I started on https://github.com/magnetik/NelmioApiDocBundle/tree/form I'll do a pull request when something is working  :)

[2017-04-12 09:41] idchlife opened #983 "Is there any way to generate js from swagger api? I heard clear swagger can do that."

[2017-04-12 10:41] xcyxiner commented on #891
[code]
#可以设置parameters参数来表明
* 查看源码才找到的。。心好累==
[code]

#参考链接
[TestController](https://github.com/nelmio/NelmioApiDocBundle/blob/73d4db51e1f16cda1802e3e0e3977d506971d32d/Tests/Fixtures/Controller/TestController.php)
[SwaggerFormatter](https://github.com/nelmio/NelmioApiDocBundle/blob/73d4db51e1f16cda1802e3e0e3977d506971d32d/Formatter/SwaggerFormatter.php)
[ApiDoc](https://github.com/nelmio/NelmioApi

[2017-04-12 10:44] xcyxiner opened #984 "Swagger json Parameters show Description"
[891](https://github.com/nelmio/NelmioApiDocBundle/issues/891)

[2017-04-12 17:09] GuilhemN commented on #956
Great, thanks :)

[2017-04-13 06:40] jmalinens commented on #657
+1

[2017-04-13 11:30] develth commented on #529
@jmaheux , how to apply it at the moment? I integrated as you documented - but it never get called.

[2017-04-13 13:13] develth commented on #867
I made a pull request where you can configure your validation parsers through config.yml

Here is an example of an SnakeCaseValidationParser

https://gist.github.com/develth/9b4e738538e27e1b6e117b4d2a4c7c03

Thanks to @jmaheux  for the hint.

[2017-04-13 14:11] Weyn commented on #657
+1

[2017-04-19 11:42] idchlife commented on #652
Well guys, boolean is boolean, but number is being sent as string...

[2017-04-19 12:47] JustBlackBird commented on #867
Any progress on this? I'm in the same trouble with duplicated names.

[2017-04-19 13:31] develth commented on #867
@JustBlackBird  check out my merge request.

[2017-04-19 13:40] JustBlackBird commented on #867
@develth well, my question was addressed mostly to the bundle maintainers 😄

As for the pull request, it's only part of a solution because it does not include custom ValidationParser (which actually could fix the problem).

[2017-04-19 13:45] develth commented on #867
My PullRequest is about custom ValidationParser, configurable via config.yml

The ValidationParser you want to use is in my gist:
https://gist.github.com/develth/9b4e738538e27e1b6e117b4d2a4c7c03

[2017-04-19 14:04] JustBlackBird commented on #867
@develth yep, I've seen the gist. At the same time I don't think it's not a good idea to copy-paste it into each project using NelmioApiDocBundle 😉

[2017-04-19 14:06] develth commented on #867
For sure - its a simple solution for an custom ValidationParser that solves the issue. You can do your own - and set it with my pull request in the config ;)

[2017-04-20 03:02] yarcowang commented on #774
The [doc](https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/doc/the-apidoc-annotation.rst) does have such field:

[code]

But I didn't see it could work.

[2017-04-22 12:54] josedacosta opened #986 "The results of the "Sandbox" tool are blocked by AdBlock (in some cases) ..."
Hello,

The results of the "Sandbox" tool are blocked by AdBlock (in some cases) ...

Could you add an AdBlock presence checker,
Check the output and display an alert to indicate: there is a problem, think about checking AdBlock ...

AdBlock Plus
Https://chrome.google.com/webstore/detail/adblock-plus/cfhdojbkjhnklbpkdaibdccddilifddb

Presence of "ads" in the url:

`` `
Request URL :
GET http://tes

[2017-04-22 13:07] josedacosta opened #987 "option to not encode the HTML output of the results of the tool "Sandbox", for dump()"
Hello,

could you add an option to **not encode the HTML output** of the results of the **tool "Sandbox"**

Because when dump () output is unreadable ...

look :

![image](https://cloud.githubusercontent.com/assets/3801119/25304669/260abd4a-276c-11e7-836c-29680c5de8ed.png)

my patch :

/vendor/nelmio/api-doc-bundle/Nelmio/ApiDocBundle/Resources/views/layout.html.twig

[code]

result :
![image](htt

[2017-04-24 06:35] jhogendorn commented on #657
+1

[2017-04-24 22:54] bvisonl commented on #657
+1

[2017-04-24 23:08] bvisonl commented on #979
I've found a CHEATING (note the caps) for this... please don't hate me:

![image](https://cloud.githubusercontent.com/assets/4421747/25362340/48d8cdec-2921-11e7-9aa4-bec144f399e0.png)

You can just trick the url by passing & and [] into the same parameter. Note that you have to smuggle the first parameter value in before adding more &parameters[]=

[2017-04-28 14:38] lsmith77 commented on #652
indeed it seems like this Bundle should be changed to send boolean values as such when using JSON.

[2017-04-28 14:57] lsmith77 commented on #652
here is a quick hack to make it work ..
https://github.com/nelmio/NelmioApiDocBundle/pull/989

[2017-04-28 15:27] #652 closed

[2017-05-02 07:14] yarcowang commented on #974
Well, I like `tags` and `views`, so I can figure out the API version. And show them by versions.
But I didn't see it in [swagger example](http://petstore.swagger.io/)  , don't know how they do that.

[2017-05-03 09:15] GuilhemN commented on #974
@yarcowang this is not obvious at first sight, but each tag is shown on top of a collection of routes. The first one is `pet: Everything about your Pets`. `views` is not supported by swagger.

[2017-05-03 10:34] zied-ellouze commented on #774
@yarcowang
A priori the header support has been added from version 2.13.0
https://github.com/nelmio/NelmioApiDocBundle/releases/tag/2.13.0
to test

[2017-05-03 10:56] yarcowang commented on #974
So... How do you guys dealing with versioning in the doc?
I think different versions of APIs in one page must be messed up.

[2017-05-03 10:59] yarcowang commented on #774
@zied-ellouze Thanks. Get it.

[2017-05-08 18:10] JustBlackBird commented on #525
Are there any news on this issue?

[2017-05-11 14:43] kirkhelek commented on #521
+1 Any way, is there another way to reach it?

[2017-05-13 11:59] GuilhemN commented on #942
Fixed in #948, you only need to load the route now:
[code]

[2017-05-13 12:00] #942 closed

[2017-05-13 12:00] #965 closed

[2017-05-13 14:50] GuilhemN commented on #955
It seems like the `ApiDoc` class misses `setInput` and `setOutput` methods. A PR in this direction is welcome if you need it.

[2017-05-13 14:55] GuilhemN commented on #928
Link updated to point to symfony.com.

[2017-05-13 14:55] #928 closed

[2017-05-13 14:57] GuilhemN commented on #888
Php 5.3 support was removed in https://github.com/nelmio/NelmioApiDocBundle/commit/eab2d5d8fcbd759c4ae109b6060b7d90d4269952.

[2017-05-13 14:57] #888 closed

[2017-05-13 16:33] tarlepp commented on #955
Quite long time for response, and yes a PR would be the proper way to make this happen - unfortunately I didn't have the time for that when I was facing this problem.

I did following "hack" workaround for this to get it working in my app:
[code]

Not so pretty, but it did the trick.

[2017-05-13 16:57] GuilhemN commented on #955
Well i'm not usually taking care of 2.x, I just went through some issues but i'm focusing on 3.0. Most of the other contributors don't have enough time anymore to take care of this bundle.

Ok, thanks for your answer, don't hesitate to open a pr if you want to change it.
You can ping me on slack or on twitter in the future if you need me to answer something, I often miss github notifications.

[2017-05-14 11:27] thafirstone commented on #702
Hi, I'm facing the same issue, have you found any solution?

[2017-05-16 07:17] lsmith77 opened #992 "add ability to define colors for tags via the global config"

[2017-05-16 07:18] lsmith77 opened #993 "add ability to define common configuration via class level annotations"

[2017-05-16 07:18] lsmith77 opened #994 "add ability to configure default parsers for input/output via bundle global config"

[2017-05-23 15:06] fscholly commented on #830
Where can I find documentation about Response Map options please ? I would to doc this kind of response.

 `$errors = $this->get('validator')->validate($athleteWeight);
        if (count($errors)) {
            return $this->view($errors, Response::HTTP_BAD_REQUEST);
        }`

` responseMap = {
     *          201 = {
     *               "class"  = "AppBundle\Entity\AthleteWeight",
     *

[2017-05-23 15:22] max21 opened #997 "Multiple input/output with multi views"
Hi,
It is possible to specify different input/output for different views (default or premium) ?

Thanks

[2017-05-24 09:03] zajca opened #998 "Custom output from serializier."
HI, I'm facing this issue.
I have custom Handler for one entity. And I wan't to show custom output in api doc. So I created own parser, and add value customOutput to output options.

like this:
[code]
I can parse this just fine but after my parser is called also JMS parser which will add all fields. I can add exclude all policy. But still this doesn't looks right. Is there better way how to handle

[2017-05-24 11:26] cadavre opened #999 "Ability to set output format"
I believe it's what was mentioned in #994 .

What would be great: to define format of `output` parameter. Right now when I select JMSSerializer-enabled entity I get a table of "Parameter | Type | Versions | Description" rows.

Great option would be possibility to define this output format to another, like JSON – so it would be a JSON exemplary response instead of list of parameters.

[2017-05-28 17:55] almasry commented on #626
+1

[2017-05-30 16:40] lsmith77 opened #1000 "new patch release"
can we do a minor/patch release? ie. 2.13.2 or 2.14.0

https://github.com/nelmio/NelmioApiDocBundle/compare/2.13.1...master

/cc @GuilhemN

[2017-05-30 16:44] GuilhemN commented on #1000
I'd go for a patch release, but no problem for me.
I let you do it :)

[2017-05-30 16:47] #1000 closed

[2017-05-30 17:08] lsmith77 commented on #1000
done

[2017-05-31 12:03] mickadoo commented on #870
Closing because I don't care anymore

[2017-05-31 12:03] #870 closed

[2017-06-02 11:06] temp opened #1001 "Problem with 3.0.0-BETA1"
Before the upgrade I converted my Annotation with the documented Convert-Command, worked fine. Did the config changes, routing changes, and upgraded to 3.0.0-BETA1.
But afterwards I'm getting errors when trying to call the api page.
[code]
The Annotations have been converted to this:
[code]
...
[code]
Tried to understand the problem, but as soon as there are 2 Get-Annotations with a Response=200,

[2017-06-02 19:32] GuilhemN commented on #1001
Thanks for the report!

Can you make sure https://github.com/nelmio/NelmioApiDocBundle/pull/1003 fix your issue please?

[2017-06-03 20:40] temp commented on #1001
Works for me! But did only check for the converted annotations, these work fine now.

[2017-06-03 20:42] #1001 closed

[2017-06-06 08:46] bgarel opened #1005 "Issue with multiple routes path patterns"
When the config routes path_patterns array has multiple elements, the filteredRoutes list is not filled correctly.

Example in config.yml :
nelmio_api_doc:
   routes:
      path_patterns:
      - ^/api/foo
      - ^/api/bar

[2017-06-06 16:09] GuilhemN commented on #1005
This is currently implemented as a "and" (see https://github.com/nelmio/NelmioApiDocBundle/blob/master/Routing/FilteredRouteCollectionBuilder.php#L41) but i agree it probably makes more sense to have a "or".
Could you submit a pr ?

[2017-06-06 20:01] patillades opened #1006 "Top-level definition appears as "not defined""
I'm trying to reuse a swagger definition without success. I've placed the following annotation above my Class definition:

    /**
     * @SWG\Definition(
     *  definition="api_login_successful_response",
     *  type="object",
     *  properties={
     *      "device_id"={
     *          "type"="string"
     *      }
     *  }
     * )
     */

And then

    class UserController extends Contro

[2017-06-06 20:06] GuilhemN commented on #1006
For now, we decided to only parse controllers to be able to provide shortcut methods.
`@SWG\Definition` is replaced by `@Nelmio\ApiDocBundle\Annotation\Model` (it replaces `

[2017-06-07 08:10] patillades commented on #1006
Ok, thanks!

[2017-06-07 11:32] kirkhelek commented on #998
Hello, if you want to show custom output for an entity you should use serializer groups like in this example:
[code]
with your serializer model
`Acme\YourBundle\Resources\config\serializer\Entity.foo.yml`

[code]

of course, you will need a serializer like JMS Serializer in your project.

Hope this will help.

[2017-06-07 12:03] bgarel commented on #1005
I created the pr : https://github.com/nelmio/NelmioApiDocBundle/pull/1007

[2017-06-07 12:32] zajca commented on #998
Hi @kirkhelek,
I have JMS serializer but I have custom handler for entity, so the serialization is not handler using annotations or yml config. But defined in `SubscribingHandlerInterface`.

I'm still thinking about rewrite it to custom yml or create some DTO to transform needed stuff to but it's lot of work. So I'm looking to way how to define output more custom.

[2017-06-08 05:15] #1005 closed

[2017-06-12 10:45] sas05 opened #1008 "column type guid not appearing on the api doc return"
`* @ORM\Id
     * @ORM\Column(type="guid")`

This is not appearing but

when
`* @ORM\Id
     * @ORM\Column(type="integer")`
this is appearing on the doc

[2017-06-12 10:46] GuilhemN commented on #1008
What version of the bundle are you using ?

[2017-06-12 11:04] sas05 commented on #1008
version 2.13.2

I checked the DataTypes class, and found guid datatype is not added.

[2017-06-12 11:07] GuilhemN commented on #1008
Ok so you already found the cause ☺ Can you submit a pr please ?

[2017-06-12 11:10] sas05 commented on #1008
I would like to but only adding this datatype is not enough. but Let's see if I can. thanks

[2017-06-12 11:10] #1008 closed

[2017-06-13 10:45] BowlingX opened #1009 "How to use groups with `@Model`"
Hi,
I'm using the current 3.0 beta. Regarding to https://github.com/nelmio/NelmioApiDocBundle/issues/940 the new `@Model` annotation should support groups. But it seems groups are not supported. The property is not defined in the annotation.

--
David

[2017-06-13 11:37] GuilhemN commented on #1009
see https://github.com/nelmio/NelmioApiDocBundle/pull/1010.

However it does only support symfony serializer groups for now as the integration with the jms serializer is not really done yet.

[2017-06-13 11:39] BowlingX commented on #1009
wow, that was fast, thank you.

[2017-06-13 11:42] GuilhemN commented on #1009
You're welcome, i had to do it for a while and I knew exactly how i wanted it so it didn't take too long 😉

[2017-06-13 11:45] #1009 closed

[2017-06-13 19:48] ed-at-work commented on #525
Also having this issue. Any working forks that can resolve this?  Basically I want to be able to define doc-specific groups and have those groups determine which parameters are shown regardless of if they are JMS Serializer groups, or Symfony constraint groups. Basically if I set a group on an ApiDoc block, I don't want anything shown if it doesn't have that group explicitly.

[2017-06-15 09:13] BowlingX opened #1011 "[3.0] Reflection does not work if building a bundle with `composer install --no-dev`"
Due `phpdocumentor/reflection-docblock` defined as `devDependency`, if running composer install without dev dependencies (in production), generation of api-docs fails with missing class exception and/or `PropertyInfo component was not able to guess the type of [...] `.

Is this an indented behaviour?

[2017-06-15 12:37] GuilhemN commented on #1011
If you want to use php docs then you have to require `phpdocumentor/reflection-docblock` even in dev mode, the bundle doesn't do it for you because you can use the bundle without it (php type hints might be enough for you).

[2017-06-15 15:11] wraycode commented on #881
I am getting the same issue when trying to use
     * @ApiDoc(
     *  resource=true,
     *  description="Register a new user for access to cg open API",
     *  views = { "default", "premium" }

The annotation "@Nelmio\ApiDocBundle\Annotation\ApiDoc" in method does not exist my autoload has use Doctrine\Common\Annotations\AnnotationRegistry;

composer.json   "nelmio/api-doc-bundle": "dev-master"

[2017-06-15 15:16] GuilhemN commented on #881
@wraycode the master branch corresponds to the next major version (3.0) and `@ApiDoc` no longer exists in it (see https://github.com/nelmio/NelmioApiDocBundle/blob/master/UPGRADE-3.0.md).
You have to migrate your code or change your constraint (`~2.0` would be safer).

I close this as I didn't get an answer from the original author.

[2017-06-15 15:16] #881 closed

[2017-06-15 15:25] wraycode commented on #881
thanks this is new from scratch app and just getting started with Nelmio appreciate the quick response

[2017-06-15 16:52] BowlingX commented on #1011
ok, thank you :)

[2017-06-15 16:52] #1011 closed

[2017-06-16 12:46] SulivanDotEu commented on #867
Here is an other gist in order to handle snake case and validation groups:

https://gist.github.com/SulivanDotEu/0cb89b7f7f8cda59313c757a6573ee6d

[2017-06-20 06:22] mohsenjalalian opened #1012 "symfony 3 support"
hi I install your bundle in symfony 3 . i like to know that this bundle is compatible with symfony3 or not because i can not work with that and when i go to the doc page it is blank

[2017-06-20 10:18] GuilhemN commented on #1012
Yes, this bundle works with sf 3.

Are you using the 3.x version of the bundle ?
If so can you try updating to the latest beta, check again and if it still doesn't work give me more details ?

[2017-06-20 17:10] pdugas opened #1013 "Separate script.html.twig and sandbox.html.twig templates (proposal)"
Could you move the large `<script>` tag out if layout.html.twg and `{% include %}` it instead?  This would make overriding layout.html.twig simpler so we could embed API docs into our webapp sharing headers, footers, navigation, etc.  While we're at it, moving the sandbox_configuration `<div>` out to another included template would help the same way.

The resulting layout.html.twig would become so

[2017-06-20 17:15] GuilhemN commented on #1013
We're currently focusing on the 3.0 version of the bundle so 2.x won't include new features unless we have PRs and they seems important enough.

[2017-06-20 17:53] pdugas commented on #1013
Upgrading...

[2017-06-20 18:03] GuilhemN commented on #1013
Actually, maybe I should have asked @lsmith77. Do you want to keep maintaining 2.x?

[2017-06-20 18:13] lsmith77 commented on #1013
not in the midterm but in the short term I might be able to review smaller PRs. what is the intention regarding ensuring that all 2.x features make it to 3.x?

[2017-06-20 18:17] GuilhemN commented on #1013
3.0 is a complete revamp of the bundle so imo the two branches must be completely separated and a new feature in 2.0 won't necessarilly make it in 3.0.

[2017-06-20 18:29] pdugas opened #1014 "Force Content-Type"
I'm tinkering with "~3.0@beta" with my routing set to put the ApiDoc/Swagger page at `/api` and my actual API below as `/api/foo`, `/api/bar`, etc. I use FOSRestBundle for the API and it appears to be defaulting everything in/under `/api` to use the `application/json` which breaks the doc page. This used to work with the 2.x version I suspect because the generated page forced the content type.

A

[2017-06-20 18:51] GuilhemN commented on #1014
I was indeed able to reproduce, see https://github.com/nelmio/NelmioApiDocBundle/pull/1015 for a fix.
Thanks for the report!

[2017-06-20 19:25] pdugas opened #1016 "Uncaught TypeError: Cannot read property 'enabled' of undefined"
The `oauth` property of the `data` object is not defined in the `window.onload` routine in `init-swagger-ui.js` for me resulting in a console error.  I've not done much annotating of the API yet - just one method but the new implementation is figuring out some things on its own.

For reference, below is the swagger-data tag from the generated page.

[code]

https://github.com/nelmio/NelmioApiDocBu

[2017-06-21 00:28] pdugas opened #1017 "Javascript .map files referenced but not included"
The `swagger-ui-standalone-preset.js` and `swagger-ui-bundle.js` files in the composer distribution still have the `sourceMappingURL=...` entries referencing the .js.map files that are not included resulting in 404 requests for them when viewing the docs.

[2017-06-21 00:46] pdugas commented on #1016
This quick edit to `init-swagger-ui.js` worked for me.

[code]

[2017-06-21 13:13] fredeastside opened #1018 "Notice: Array to string conversion"
Hello! When i use default key in QueryParam from FOSRestBundle like map, error:

[code]
Notice: **Array to string conversion**
vendor/nelmio/api-doc-bundle/Nelmio/ApiDocBundle/Resources/views/**method.html.twig**
line: **258**

[2017-06-21 15:15] pesseyjulien opened #1019 "Migration from 2.x to 3.x"
Hi,

Thanks for the migration procedure but I'm getting the following error :

`You have requested a non-existent service "nelmio_api_doc.extractor.api_doc_extractor"`

[2017-06-21 15:18] GuilhemN commented on #1019
Hi,
You need to execute the command before upgrading the bundle constraint, did you do that ?

[2017-06-21 15:19] pesseyjulien commented on #1019
I'm getting this error while executing the command yes. Sorry, I forgot to mention that !

[2017-06-21 15:30] GuilhemN commented on #1019
Ok, but to execute your command you need the 2.x version of the bundle, you have to upgrade to 3.0 only *after* executing it. Were you using NelmioApiDocBundle 2.x (check your `composer.json` file) when executing the command ?

[2017-06-21 15:48] pesseyjulien commented on #1019
I see, thanks !

[2017-06-21 22:14] reneszabo commented on #1019
Hi, love this bundle btw.
have 2 questions, is the integrations with swagger gonna support the input=formType ?
and also got an error updating to beta.
![image](https://user-images.githubusercontent.com/434504/27409060-81b65526-56ad-11e7-9765-24a1a19eb66d.png)

[2017-06-22 15:00] wraycode opened #1020 "parameter array items enums causes javascript errors and does not load module t.map is not a function"
cannot get a drop down menu to work for parameter get javascript error in console t.map is not a function
    `      /**
          *     @SWG\Parameter(
         *         name="room",
         *         in="query",
         *         type="array",
         *         @SWG\Items(
          *             type="string",
          *             enum="['dining','living','nursery']"
         *         )

[2017-06-22 15:21] wraycode commented on #1020
inn logs

[2017-06-22 08:54:55] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "No route found for "GET /bundles/nelmioapidoc/swagger-ui/swagger-ui-standalone-preset.js.map""

[2017-06-22 15:45] wraycode commented on #1020
got the errors to go away by adding

`     *         @SWG\Items(
     *             type="string",
     *             enum={"dining","living","nursery","sidechair"}
     *         ),
`
but ti makes a select box not a drop down

[2017-06-22 19:10] GuilhemN commented on #1013
Ok, closing.

[2017-06-22 19:10] #1013 closed

[2017-06-22 19:16] GuilhemN commented on #1019
Thanks :)

That's related to https://github.com/nelmio/NelmioApiDocBundle/issues/956, we need someone enough motivated to make it but I'd like to have it for sure!

At first sight, I don't see how this could be related to the bundle maybe try running the command with `-vvv` to have more infos?

I'm closing this as the issue is solved ;)

[2017-06-22 19:16] #1019 closed

[2017-06-22 19:22] GuilhemN commented on #1017
Should be fixed by https://github.com/nelmio/NelmioApiDocBundle/commit/aefdca965e0e5ee050806f2360872f2baf88adcc, thanks!

[2017-06-22 19:22] #1017 closed

[2017-06-22 20:29] #1014 closed

[2017-06-22 20:32] GuilhemN commented on #1020
Should be fixed in https://github.com/nelmio/NelmioApiDocBundle/commit/0bd45e648641caf029a7f629ee1a021354de9958, thanks!

[2017-06-22 20:32] #1020 closed

[2017-06-22 20:32] GuilhemN commented on #1016
Should be fixed in https://github.com/nelmio/NelmioApiDocBundle/commit/0bd45e648641caf029a7f629ee1a021354de9958, thanks!

[2017-06-22 21:18] #1016 closed

[2017-06-23 19:05] pdugas opened #1021 ""The PropertyInfo component was not able to guess the type" when using @Model"
Trying to figure out the right way to use this so I suspect this is another operator-error but don't know where to look for examples or guidance.

I have a FOSRest controller with typical actions for dealing with my User entity.  I annotated my `getAction()` method as show below. I've not added any SWG annotations to the entity. I'm getting an error indicating `The PropertyInfo component was not a

[2017-06-23 19:16] GuilhemN commented on #1021
The PropertyInfo component does indeed detect getters. If you're using the symfony serializer I guess you can use groups to remove this field.

Otherwise you can still manually define a schema in your config.

[2017-06-23 19:19] pdugas commented on #1021
I'm using JMSSerializer and tried adding `@JMS\Exclude` to the getDisplayName() method but I'm still getting the error.

[2017-06-23 19:20] GuilhemN commented on #1021
Yeah, jms metadata aren't supported yet... I have to work on it :)

[2017-06-23 20:52] pdugas commented on #1021
Could you point me toward an example of using groups?

[2017-06-23 22:45] pdugas commented on #1021
Delved into the the PropertyInfo Extractors and found that if I rename getFoo() to foo() it doesn't show up in  the getProperties() results.

[2017-06-25 05:20] GuilhemN commented on #974
What about doing this with tags and hiding the unwanted tags in js?

[2017-06-25 06:31] modstore opened #1023 "Trying to set securityDefinitions"
I'm trying to set securityDefinitions through config.yml but it's not being output. Not sure if I'm doing it wrong, but I can't find an example of how to do it.

[code]

[2017-06-25 07:34] GuilhemN commented on #1023
You're doing it fine but it wasn't supported by `exsyst/swagger`. This is now the case, please update your dependencies and it should work fine :)

[2017-06-25 07:47] modstore commented on #1023
Oh wow, thanks for updating so quickly! Works now:) :+1:

[2017-06-25 07:49] GuilhemN commented on #1023
No problem, I just had to rebase my fork on the original library ;)
I close this as the issue is fixed.

[2017-06-25 07:49] #1023 closed

[2017-06-25 11:56] #956 closed

[2017-06-25 11:59] #984 closed

[2017-06-25 12:02] GuilhemN commented on #983
Sure, see http://swagger.io/swagger-codegen/.

[2017-06-25 12:02] #983 closed

[2017-06-25 12:07] GuilhemN commented on #981
This error is thrown by symfony. Does this class really exist? Maybe you have an autoload issue?

[2017-06-25 12:12] GuilhemN commented on #979
Note that this is supported in 3.0:
[code]

[2017-06-25 12:19] GuilhemN commented on #978
I can't really help you on this but just note that 3.0 does support this:
[code]

[2017-06-25 12:23] #955 closed

[2017-06-25 12:24] GuilhemN commented on #931
3.0 is a complete refactor, could you try if it works better for you?

[2017-06-25 13:45] GuilhemN commented on #1021
See https://github.com/nelmio/NelmioApiDocBundle/pull/1024 for jms support.

I don't think it will fit your case as you're not using the symfony serializer, the best would be to merge https://github.com/nelmio/NelmioApiDocBundle/pull/1024 but I need some help to write tests...

[2017-06-25 21:27] Alex-D opened #1025 "Add ability to get JSON only to use swagger-codegen"
Get a Swagger doc is cool, but generate SDK with Swagger is better!

So if we can have an URL to get the Swagger as JSON, it could be perfect :)

Also, it could be convenient to reimplements commands which was present in v2: https://github.com/nelmio/NelmioApiDocBundle/tree/2.x/Command

[2017-06-26 09:33] GuilhemN commented on #1025
See https://github.com/nelmio/NelmioApiDocBundle/pull/1026

Why not, it shouldn't be complicated.

[2017-06-26 17:31] kevin-brown commented on #1021
I've been running into this quite a bit with the following error

This happens when you attempt to define a field which takes a `DateTime`, because it can't introspect that it should be

[code]

So instead it attempts to serialize the entire `DateTime` object, which doesn't have a `$timezone` property but does have getters and setters for it.

[2017-06-26 17:51] #1025 closed

[2017-06-26 18:56] tiagokalinke opened #1027 "The PropertyInfo component was not able to guess the type of DateTime::$timezone"
Hi,
i have problems with fields with type DateTime.

The PropertyInfo component was not able to guess the type of DateTime::$timezone

[2017-06-26 18:57] GuilhemN commented on #1027
See https://github.com/nelmio/NelmioApiDocBundle/pull/1028

[2017-06-26 18:58] GuilhemN commented on #1021
See https://github.com/nelmio/NelmioApiDocBundle/pull/1028

[2017-06-26 19:25] tarlepp commented on #955
Hmm, so maybe this should be a required feature within 3.0 ?

[2017-06-26 19:41] GuilhemN commented on #955
This is already doable in 3.0:

[code]

[2017-06-27 22:10] wraycode opened #1029 "How do you configure authentication?"
I want to use api key or jwt in later,  but for now I just want /api/doc to use

      @Security("is_granted('IS_AUTHENTICATED_FULLY')")
I tried to run
./bin/console debug:config NelmioApiDocBundle

But all it lists is the basic config, where are the rest of the options?

[2017-06-28 15:35] ricardo-neves-kununu opened #1030 "[3.0] @Model with FOSUser"
I'm trying to use @Model on my User class from FOSUser Bundle, but I'm getting the following error:

This is what I have on my Controller:
`     *     @SWG\Response(`
`     *         response=200,`
`     *         description="Operation Successful",`
`     *         @Model(type=User::class)`
`     *     ),`

I did some debug and seems since this property is not mapped with doctrine and that's why

[2017-06-29 04:02] yarcowang commented on #974
@GuilhemN Sounds good to me...

[2017-06-29 11:22] GuilhemN commented on #1030
You have to configure what fields from your model will be serialized and you have to allow only fields with known types so that the bundle can determine how is your model.
If you're using the jms serializer, you can use `@Expose`, `@ExclusionPolicy`, etc... If you're using the symfony serializer, you can use `@Groups`.

[2017-06-29 11:27] GuilhemN commented on #1029
You can do that under `nelmio_api_doc: documentation:`, an example:
[code]

The best is to look at http://swagger.io/specification/ to know the fields available.

[2017-06-30 10:32] ricardo-neves-kununu commented on #1030
Ok, I've used `@Groups` on a simple entity class and it seems to work but have you tried it using on an entity that extends FOSUser Entity class?

[2017-07-03 18:15] wraycode commented on #1029
thanks , I've added this to my config, should this give me a headers option in my swagger try it out? if not how do I get it so can add the token to the try it out?

[2017-07-03 19:31] wraycode commented on #1029
I added this and can send my key but still have to manually add Bearer not sure if this si the bestr practice with JWT or not  application/json works but my return image/jpeg does not retrun image now
`     *     produces={"application/json", "image/jpeg"},
     *     tags={"Render canvas"},
     *     @SWG\Parameter(
     *         name="Authorization",
     *         in="header",
     *

[2017-07-04 16:15] GuilhemN commented on #1030
You can also choose which properties will be serialized using yaml or xml files. This allows to configure the serialization of an entity in a third party library.

[2017-07-04 19:12] coolmic opened #1032 "[3.0] app_dev.php is ignored"
Hi,

I just migrated from 2.x to 3.0 , and I have an issue when I used app_dev.php in the url.

My api doc url is
`http://domain.dev/app_dev.php/api/doc/`

When I do a request, it target

`http://domain.dev/auth/login`

instead of

`http://domain.dev/api_dev.php/auth/login` .

Did I miss something? It worked well in 2.x .

[2017-07-05 10:53] sandermarechal opened #1033 "Path parameters are always converted to string"
I have an annotation like so:

[code]

The `categoryId` parameter is an integer, but the `RouteMetadataDescriber` overrides it and sets it to 'string'. Same thing for the `FosRestDescriber` which always sets it as either a string or an array.

[2017-07-05 12:29] GuilhemN commented on #1033
see https://github.com/nelmio/NelmioApiDocBundle/pull/1034 and https://github.com/nelmio/NelmioApiDocBundle/pull/1031

[2017-07-05 13:22] sandermarechal commented on #1033
Perfect!

[2017-07-05 13:42] GuilhemN commented on #1032
see https://github.com/nelmio/NelmioApiDocBundle/pull/1035

[2017-07-07 14:10] pdugas opened #1036 "Where do global definitions go?"
I have a number of APIs that accept the same parameters and would like to define them in one place the refer to them elsewhere.  I'm not sure where to put them.  My controllers are all in `src/AppBundle/Api/*Controller.php`.  I've tried adding a `spec.php` file in that directory like so:

[code]

Then tried to reference this in the `@SWG\Operation` annotation in a controller like so:

[code]

I'm

[2017-07-07 17:28] pdugas commented on #1030
Any further thoughts on this one?  I've tried overriding JMS Serializer for FOS\UserBundle\Model\User to no avail.

[code]

[code]

I suspect I'm not telling JMS\Serializer where to look properly as I can put bogus YAML in there and not get an error other than the one about $plainPassword.

[2017-07-09 14:44] fsevestre opened #1037 "[3.0] `Property` annotation in `Items` annotation not working as expected"
Hi,

I have an issue using an `@SWG\Property` annotation in a `@SWG\Items` annotation.
Example based on this issue example: https://github.com/zircote/swagger-php/issues/245#issuecomment-218431714

[code]

Like in the example, I expected to have something like this:
[code]

And got this instead:
[code]

I first thought it was an issue in Swagger, but by digging it seems that the issue is in this r

[2017-07-09 21:28] tarlepp opened #1038 "Deprecation within 3.3+"
Autowiring services based on the types they implement is deprecated since Symfony 3.3 and won't be supported in version 4.0. You should rename (or alias) the "nelmio_api_doc.routes" service to "Symfony\Component\Routing\RouteCollection" instead.

[2017-07-09 21:51] GuilhemN commented on #1038
We won't fix this, this route collection is probably not the one you expect, and it should usually not be injected as a constructor argument. If you want to get the route collection of your app, you have to inject `Router` and call `Router::getRouteCollection()`.

[2017-07-09 21:51] #1038 closed

[2017-07-10 00:21] tarlepp commented on #1038
if I'm trying that, I get following

[code]

constructor of my class:

[code]

[2017-07-10 00:25] tarlepp commented on #1038
Hmm, it seems that the problem was on my side.

[code]

Works like  expected,

[2017-07-10 02:11] gohiei commented on #657
+1

[2017-07-10 13:43] pdugas commented on #1036
I've also tried adding the definition to `app/confg/config.yml` like so:

[code]

Still getting the same error.

[2017-07-10 13:49] pdugas commented on #1036
Hmmm....  When I added those lines to `config.yml`, I get an extra `paths` entry in the generated JSON `swagger-data`.

[2017-07-11 14:22] casg23Limeon commented on #657
+1

[2017-07-11 17:36] GuilhemN commented on #1037
Using the array type with `@Items` is not allowed. I'm not totally sure but maybe it works with a reference?

Can you try adding a definition in your config `nelmio_api_doc: documentation: definitions` and then refer to it `@Items(ref="/#definitions/Foo')`?

[2017-07-11 17:40] GuilhemN commented on #1036
Only annotations in controllers are parsed.

I can't investigate right now but at first sight it looks like an issue in zircote/swagger-php, can you open an issue there ?

[2017-07-11 17:42] #1033 closed

[2017-07-11 17:42] GuilhemN commented on #1033
PRs merged.

[2017-07-11 17:44] GuilhemN commented on #1030
@pdugas no errors on your side, we just need https://github.com/nelmio/NelmioApiDocBundle/pull/1024 :)

[2017-07-11 18:14] develth commented on #754
+1 - missing a version separation feature

[2017-07-11 19:20] pdugas commented on #1036
My gut feeling is that the parameter definition isn't being loaded anywhere so the `@SWG\Parameter(ref="#/parameters/eg_foo")` essentially becomes an empty Parameter with the required `in` and `name` setting omitted.  Hence the error message.

I tried using the `spec.php` file after seeing the [`using-refs` example](https://github.com/zircote/swagger-php/tree/master/Examples/using-refs).  I guess

[2017-07-17 17:12] numediaweb commented on #891
1 year later.. any help would be great :)

[2017-07-18 13:49] kokmok commented on #657
+1

[2017-07-19 16:50] DavidGarciaCat commented on #702
IMHO looks like your problem is like you're working with a wrong design/arquitecture: an API Endpoint should return always the same object or - if an Exception was thrown - a custom error format that should be defined by your App, like:

[code]

So the returned `MyResource` will be converted to the expected format and `MyException` will be captured by a listener and will return a customised `JsonR

[2017-07-19 17:47] bitgandtter opened #1039 "migration doc incomplete"
Im migrating my existing doc from v2 to new v3 using the provided doc [under](https://github.com/nelmio/NelmioApiDocBundle/blob/master/UPGRADE-3.0.md) on which the command use a service call `nelmio_api_doc.extractor.api_doc_extractor` which is not on the bundle.

Is this code obsolete?
There is a any new migration guide?
The service must be created or was not included on the doc?

Help thanks

[2017-07-19 18:17] GuilhemN commented on #1039
This command must be run with the v2, it is indicated when you have to upgrade to the V3 😉
I think we should add a warning, you're not the first to do the mistake...

[2017-07-19 18:19] bitgandtter commented on #1039
Sure thing, that will help a lot, thanks for the clarification

[2017-07-19 18:19] #1039 closed

[2017-07-20 00:16] Alex-D commented on #1029
I need to write `securityDefinitions` like in spec.

Also, lock icon is missing, Authorization popup seems broken: no cross to close it.

How can I mark an action as using authorization/security?

I use voters, so I can't use `@Security` annotation :/

[2017-07-20 03:46] davidbonachera commented on #1021
Same here when I try to put my model in my input parameter :

[code]
I get this message :
`The PropertyInfo component was not able to guess the type of Doctrine\Common\Collections\Collection::$element`

[2017-07-21 15:30] develth commented on #521
I dived a little bit into the code and build a solution for parsing the data into the api doc:

https://gist.github.com/develth/def3ed03dbb6b63e43770b368d3327b4

[2017-07-21 19:56] fsevestre commented on #1037
Sorry for the delay.

Indeed, it's working by reference and using the `@Model` annotation.
I will go for one of this two working solutions, thanks.

[2017-07-21 19:56] #1037 closed

[2017-07-25 08:41] GuilhemN commented on #1030
Closing as #1024 is merged.

[2017-07-25 08:41] #1030 closed

[2017-07-25 08:41] GuilhemN commented on #1027
https://github.com/nelmio/NelmioApiDocBundle/pull/1028 is merged.

[2017-07-25 08:41] #1027 closed

[2017-07-25 08:43] #1012 closed

[2017-07-25 09:19] GuilhemN commented on #1036
I'm closing as https://github.com/GuilhemN/swagger/pull/2 and https://github.com/nelmio/NelmioApiDocBundle/pull/1042 are merged. Feel free to reopen if this is still happening.

[2017-07-25 09:19] #1036 closed

[2017-07-25 09:26] #1032 closed

[2017-07-25 16:41] wraycode commented on #1029
LexikJWTAuthenticationBundle

[2017-07-26 13:32] bjuri commented on #883
@willdurand @Seldaek Guys, could you please provide backport merge with this commit https://github.com/nelmio/NelmioApiDocBundle/commit/05d3a512591771586e10dd215a63f81f0b4d3afb to the versions < 2.13
We have symfony version > 2.7 and this fix with incorrect formating was fixed only in 2.13.0 which is conflicted with our symfony...

[2017-07-27 04:22] davidbonachera opened #1044 "[Migration Error] Schema::mergeDescription() must be of the type array"
Hi,

After migrating I went through different errors,
First, I had the `@SWG\Parameter` wrongly configured after the migration command. The annotations were like this :

[code]

The first error was that "in" can't be "formData", so I changed it to body. Then I added a @S

Just after that I added a `@SWG\Schema` with a `@Model` to the SWG/parameter and now I'm getting this error :

[code]
I don't u

[2017-07-27 07:33] davidbonachera commented on #1044
After digging a bit (sorry that I wrote this issue to fast) i saw that also an patchAction was updated via the migration command with a wrong line, this issue can be closed.

[2017-07-27 07:33] #1044 closed

[2017-07-27 08:28] 7thcubic opened #1045 "[3.0] Unable to create a schema reference."
By using the code

[code]

What is generated is

[code]

but what i want to do is

[code]

So instead of having a json that is

[code]

it should be
[code]

Any idea how to achieve that?

[2017-07-27 08:32] GuilhemN commented on #1045
Just remove the use of the `@SWG\Schema` annotation, `@Model` can work on its own (here it means it's an array).

[2017-07-27 08:32] #1045 closed

[2017-07-28 03:43] davidbonachera commented on #1029
Is JWT supported by swagger ?
https://github.com/swagger-api/swagger-ui/issues/3387

[2017-07-28 07:36] MrNicodemuz opened #1046 "Unable to expose JSON route"
When I follow the docs and add the following into my routing.yml, I get an error:

[code]

Error:
[code]

What am I doing wrong?

[2017-07-28 07:40] GuilhemN commented on #1046
Are you using the last beta ?

[2017-07-28 07:41] MrNicodemuz commented on #1046
@GuilhemN v3.0.0-BETA3

[2017-07-28 07:44] GuilhemN commented on #1046
If I remember well, this was added in v3.0.0-BETA4 :)

[2017-07-28 07:54] MrNicodemuz commented on #1046
@GuilhemN thanks! Works nicely! :)

[2017-07-28 07:54] #1046 closed

[2017-07-28 08:39] williamAlhant opened #1047 "Array to string conversion error for QueryParam with array for defaults"
Version : 2.13.2

The following annotation leads to an array to string conversion error :
`* @Rest\QueryParam(name="filter", nullable=true, default={})`
while the following is fine :
`* @Rest\QueryParam(name="filter", nullable=true)`

I noticed there is a related issue (#564) which has been fixed. However the fix seems to address the 'requirements' parameter only, and not the 'default' parameter.

[2017-07-28 21:08] wraycode commented on #1029
you can pass a token in as a header parameter

`     *     @SWG\Parameter(
     *         name="Authorization",
     *         in="header",
     *         required=true,
     *         type="string",
     *         default="Bearer TOKEN",
     *         description="Authorization"
     *     ),   `

[2017-07-30 02:22] iBasit opened #1048 "Authentication with new beta version"
I have following config settings, I'm not sure how to convert into new version configuration

[code]

[2017-07-30 16:33] iBasit commented on #1029
I have tried following and so many other solutions, but it is failing to pick up any security settings. I have even installed `dev-master`, but no hope.

[code]

[2017-07-30 16:44] GuilhemN commented on #1029
@iBasit, is your custom config well exposed? (you can check by looking at the sources of the doc page)

If it is, then that's probably an issue in swagger-ui.

[2017-07-30 16:46] iBasit commented on #1029
Yes, it is exposed, because configuration info for title, version, and description is working fine, but not the security.

[2017-07-30 16:47] GuilhemN commented on #1029
`security` field is quite new so it might now be exposed while the rest is.

[2017-07-31 09:58] Fabmilan commented on #537
Hello there,

I actually try to override template but it doesn't work.
I created app/Resources/NelmioApiDocBundle/views/layout.html.twig but it is not overriding the template.

Any ideas ? Thx a lot ;)

[2017-07-31 12:09] noglitchyo commented on #944
@quentin-berlemont Your solution works like a charm for me.

[2017-07-31 12:25] GuilhemN commented on #1048
See https://github.com/nelmio/NelmioApiDocBundle/issues/1029

[2017-07-31 13:45] stof commented on #537
Well, there is no `layout.html.twig` in this bundle, so this explains why overwriting this template has no effect: the bundle does not use it.

[2017-07-31 14:00] Fabmilan commented on #537
Thx for your answer but it is a little bit weird. There is a layout.html in this bundle actually ^^

{% extends "NelmioApiDocBundle::layout.html.twig" %}

And this is the only file including assets (css, js, ...) and <html> structure.

[2017-07-31 17:17] Alex-D commented on #1029
You need to change from `security_definitions` to `securityDefinitions`

[2017-08-01 11:57] hiromik commented on #579
@Soullivaneuh It's been a while and I've also seen your post on SO about it, did you find any fix? I don't wanna lose the automatic route generation just for this, and btw is that return value block showing json part of NelmioApiDocBundle, it looks nice and I'd like to have the same feature.

[2017-08-01 20:13] GuilhemN commented on #1021
@davidbonachera I was able to reproduce your issue, the problem is that `Doctrine\Common\Collections\Collection` is considered as an object instead of a collection. This should be fixed by https://github.com/nelmio/NelmioApiDocBundle/pull/1050.

[2017-08-02 00:11] iBasit commented on #1029
@Alex-D — Thank you, it start showing "Authorize button" after clicking it shows following:

![image](https://user-images.githubusercontent.com/34341/28852175-27f22992-771f-11e7-8a0d-2c75a19c3a99.png)

After pressing it shows

![image](https://user-images.githubusercontent.com/34341/28852189-3b862fa8-771f-11e7-8c9f-48989cdd933e.png)

But after testing the API call, it does not show api_key in the

[2017-08-02 03:15] discordier commented on #1047
Having the same problem here with the following annotation:
[code]

[2017-08-02 03:44] discordier commented on #1047
Hotfixed it on my side with the following patch:
[code]

The output is not that pretty but at least it does not crash anymore.

[2017-08-02 08:14] Alex-D commented on #1029
I think it's a nelmio-api-doc/swagger-ui issue because it does not works for me too.

[2017-08-02 08:20] GuilhemN commented on #1029
@iBasit are you still using it under `security`?

Also aren't you suppose to define `scheme: Bearer`?

[2017-08-02 10:00] noglitchyo commented on #1029
@iBasit You have to define the security node as following (note the dash before api_key):
[code]
It is because the JavaScript behind expects an array.

However, it remains a problem with the swagger-ui bundle who seems to transform the header name in lower case.. So you get your "Authorization" header as "authorization" which is quite annoying.

[2017-08-02 12:49] discordier opened #1051 "3.0.0-beta FR: Could we add useAttributeAsKey() to documentation in Configuration?"
I have a rather large config specified in yml that I wanted to split up and include into the main config as usual.
However, the array node `documentation` lacks the call to `->useAttributeAsKey()` and therefore the configuration breaks (all configs loose their keys except for the first one.

I added the following on my side and it works pretty nice (I am unsure about the best name for the key attr

[2017-08-02 16:29] pylebecq opened #1052 "Issue with form having a parameter in constructor"
Hello guys,

I recently updated my bundle from 2.5.2 to 2.13.2 and now my api doc is broken. (I'm using PHP 7, Symfony 2.8)

I use this annotation on my action:

[code]

My form type looks like this:

[code]

So, when I go to the api doc, this error happens:

[code]

It was working fine before thanks to this method in the FormTypeParser class:

[code]

So this was creating an instance of my form,

[2017-08-02 16:36] pylebecq commented on #1052
Nevermind, I found the solution in another issue: #208 .
Using the form type alias works.

[2017-08-02 16:36] #1052 closed

[2017-08-02 17:26] sengard opened #1053 "Could not resolve reference. How to use plain @SWG\Definition annotation without @Model?"
Hi, I have definition
[code]

and I have definition caller
[code]
somehow it's give me error
### Could not resolve reference: #/definitions/validation_error

any thoughts about why I can not connect them ?
thanks =)

[2017-08-02 17:30] GuilhemN commented on #1053
This bundle does only parse annotations in controllers. Instead of using `@SWG\Definition`, if you want to manually describe a model, you should add a definition in your config under `nelmio_api_doc.documentation`.

[2017-08-03 02:07] iBasit commented on #1029
@noglitchyo   Can you paste your full configuration settings here. I see you even got name working and `bearer`.

@GuilhemN I did try `sheme: Bearer` but it didn't work for me, it was actually throwing an error.

[2017-08-03 08:55] #1053 closed

[2017-08-03 09:55] noglitchyo commented on #1029
@iBasit To get the Bearer I put it directly in the api input with my token
This is my full configuration settings:
[code]

[2017-08-03 14:05] iBasit commented on #1029
No luck! — I have edited the configuration to match with your structure  and nested array in same way, but `request` header still does not have `authorization...`
![image](https://user-images.githubusercontent.com/34341/28925382-a290de30-785c-11e7-96c3-25d86b7a94b4.png)

pop up
![image](https://user-images.githubusercontent.com/34341/28925391-aca954ba-785c-11e7-9728-6fbc654cd7ef.png)

configuratio

[2017-08-03 16:31] iBasit commented on #1029
finally working now!.

I hope they fix few stuff, we have OAuth, so will implement those settings too, later on, see if that works.

[2017-08-04 00:32] Alex-D opened #1055 "[3.0] FileType not supported"
Seems simple to implement with something like that:

[code]

https://github.com/nelmio/NelmioApiDocBundle/blob/master/ModelDescriber/FormModelDescriber.php#L63

[2017-08-04 00:53] Alex-D opened #1056 "[3.0] CollectionType not supported"
As said here: https://github.com/nelmio/NelmioApiDocBundle/pull/1022#issue-238325388

CollectionType are not implemented yet.

Seems to be just an array type:

https://github.com/zircote/swagger-php/issues/328#issuecomment-231652774

[2017-08-04 01:40] Alex-D commented on #1055
Seems not working with just that block of code.

Swagger PHP version here:

https://github.com/zircote/swagger-php/blob/d191b5fca4f08786605316895f0542938bacb4a8/Examples/petstore.swagger.io/controllers/PetController.php#L282

[2017-08-04 08:36] #1021 closed

[2017-08-04 08:39] GuilhemN commented on #1051
:+1:, what about `key`? Could you submit a PR with some tests please?

[2017-08-04 10:38] ryall opened #1057 "[3.0] Use JSON schema file for swagger declaration"
Wondering how to use an external JSON schema file when declaring the annotations on a controller action.

[2017-08-05 09:43] imsheng opened #1059 "curl -d in sandbox"
Curl Command Line:
`curl -X "POST" -d "{\"_format\":\"json\"}" -H "Content-type:\ application/json" -H "Accept:\ application/json" /api/v1/login_check?username=lksdj&password=sdfsf`

but i want to
``curl -X "POST" -d "{\"_format\":\"json\"}" -H "Content-type:\ application/json" -H "Accept:\ application/json" /api/v1/login_check -d username=lksdj -d password=sdfsf``

split the parameters
`curl url

[2017-08-05 13:00] kojiDev opened #1060 "Empty json object {} when specifying @Model"
Hi, I'm trying to move to 3.0, but when I use Model annotation, swagger-ui just prints empty object `{}`
[code]

config:
[code]
JMS serialize this object just fine.
ConversationRepresentation.php:
[code]

[2017-08-05 21:53] kojiDev commented on #1060
Solved it. I had to specify JMS Serializer'\Type  annotation to make it work

[2017-08-05 21:53] #1060 closed

[2017-08-06 09:13] Indurain commented on #537
According to documentation I "just follow the convention: app/Resources/{BUNDLE_NAME}/views/{PATH/TO/TEMPLATE.html.twig}"; so I made
app/Resources/ApiDocBundle/views/Components/layout.html.twig but it doesn't worked. So thanks to syzop (but not according to conventions)
I created app/Resources/NelmioApiDocBundle/views/layout.html.twig and it works forme.

[2017-08-06 16:55] GuilhemN commented on #1057
I'm not sure what you mean. If you use an external JSON schema file, then you don't need annotations, right?

[2017-08-07 10:51] ryall commented on #1057
I have an external schema file, I just don't know how to link it to the expected input/output.

[2017-08-07 10:54] GuilhemN commented on #1057
I guess you can reference an other file using `$ref`: `$ref: ./schema.json#/définitions/Foo`.

[2017-08-07 11:55] iBasit commented on #1056
+2

[2017-08-07 21:10] emudojo commented on #1021
I constantly get this error i my entities, it's asking me to better define $id, in a class that lacks ID (as the PK has a different name), any idea ?

[2017-08-08 15:51] discordier commented on #1051
Will do.

[2017-08-08 17:45] discordier commented on #1051
See #1061

[2017-08-08 17:45] #1051 closed

[2017-08-09 09:53] #1059 closed

[2017-08-11 01:01] iBasit opened #1063 "adding description for url param"
How to add description for `user` for following route tag

     * @Route("/api/{user}/rewards", methods={"GET"})

I have tried putting the following, it worked, but it throws javascript error and fails to trigger action.

     *     @SWG\Parameter(
     *         name="user",
     *         in="query",
     *         description="username or ....",
     *         required=true,
     *         type

[2017-08-11 07:46] GuilhemN commented on #1063
Using `@SVG\Parameter` is the way to go. What error do you have ?

[2017-08-11 16:55] plimpton opened #1064 "3.0 migration script errors: Unrecognized options "name, swagger" under "nelmio_api_doc""
I updated my composer reference to 3.0@beta and copy/pasted the example command for upgrading the annotations following directions from https://github.com/nelmio/NelmioApiDocBundle/blob/master/UPGRADE-3.0.md but I'm getting a strange error with little to no stack trace

{code}
./bin/console api:doc:convert

Fatal error: Uncaught Symfony\Component\Config\Definition\Exception\InvalidConfigurationExc

[2017-08-11 21:27] GuilhemN commented on #1064
You have to stick on 2.0 to run the command. Only then you have to upgrade to 3.0.

[2017-08-14 10:26] Andrej-in-ua commented on #657
+1

[2017-08-14 23:23] plimpton commented on #1064
Yeah, I thought I'd save time by upgrading earlier, but nope

[2017-08-14 23:23] #1064 closed

[2017-08-16 13:39] MassiveHiggsField opened #1065 "$ref not found"
Action looks like this:

    /**
     * @Operation(
     *     summary="Gets an agent for a given id.",
     *     @SWG\Parameter(
     *         name="id",
     *         in="query",
     *         description="Which agent to return.",
     *         required=false,
     *         type="string"
     *     ),
     *     @SWG\Response(
     *         response="200",
     *         description="Retu

[2017-08-17 15:20] wraycode opened #1066 "consumes json request body not showing up"
How can I make the post request body accept json ?

         *     consumes={"application/json"},
     *     @SWG\Parameter(
     *         name="body",
     *         in="body",
     *         paramType="body",
     *         required=true,
     *         type="string",
     *         description="json"
     *     ),

[2017-08-18 11:00] 7thcubic commented on #1065
For some reason i am encountering the same issue.
I tried to install a fresh copy of symfony + jms serializer + nelmio api only to test and i also hit the same issue

[2017-08-18 12:10] mathielen commented on #1065
Same here

[2017-08-18 12:15] GuilhemN commented on #1065
Could you provide us the stack trace please? I think because we don't register the models in zircote-php, it raises a notice when it validates its output.

[2017-08-18 12:29] 7thcubic commented on #1065
[code]

On default controller
[code]

[code]

[2017-08-18 14:03] tarlepp commented on #1065
Same here

[2017-08-21 19:23] DmitryLanda commented on #1065
Any ideas how to fix it?

[2017-08-21 19:35] wraycode opened #1068 "post json as body does not work"
[code]

[https://stackoverflow.com/questions/45803820/symfony-nelmioapidocbundle-swagger-ui-php-annotations-cannot-post-json-body](url)

[2017-08-21 20:39] tarlepp commented on #1065
Same here, waiting for some solution for this - any updates ?

[2017-08-21 21:34] wraycode commented on #1068
https://stackoverflow.com/questions/45803820/symfony-nelmioapidocbundle-swagger-ui-php-annotations-cannot-post-json-body

[2017-08-22 08:27] 7thcubic commented on #1065
Well on my side i even tried to force model registry to describe the model when loading the SwaggerPhpDescriber, it didn't seem to work..

From what i know is the model describer's doesn't seem to be running at all. The moment SwaggerPHPDescriber runs the error is thrown.

Meanwhile i guess staying on 2.x is the best way to go.

[2017-08-22 08:31] ivaaaan commented on #1065
Same here.

[2017-08-22 08:35] GuilhemN commented on #1065
PR welcome, for me we just have to register a fake definition in swagger-php when detecting `@Model`.

[2017-08-22 11:51] betzholz commented on #1065
Comment out line 44 in Nelmio\ApiDocBundle\Describer\SwaggerPhpDescriber
$analysis->validate();
This validation should not run in the Describer... at the point where this command runs it does not have the hole inforamtion!

[2017-08-22 11:54] GuilhemN commented on #1065
@betzohlz if we remove this we'll remove all errors notice from swagger-php (annotation misuses for instance). I'd rather fix the notice.

[2017-08-22 15:56] wraycode commented on #1068
I updated it to

 `     *     @SWG\Parameter(
     *       name="body",
     *       in="body",
     *       description="json order object",
     *       type="json",
     *       required=true,
     *       paramType="body",
     *      @SWG\Schema(
     *        type="object",
     *        @SWG\Items(
     *             name="postalCode",
     *             type="string",
     *             de

[2017-08-22 16:16] wraycode commented on #1068
got it figured out [https://stackoverflow.com/questions/36090513/how-to-generate-model-example-value-section-for-get-request-in-swagger](url)

[2017-08-22 18:30] 7thcubic commented on #1065
Erm. No idea why the build failed O o.

But anyway by changing
[code]
to
[code]
Also add
[code]

Seems to work for me, well at least on my testing project.

[2017-08-22 19:51] dnna opened #1072 "Bundle requires TwigBundle to be active even when outputting to JSON format"
NelmioApiDocBundle declares "twig" as an argument for the service "nelmio_api_doc.controller.swagger_ui", which makes the container build break if TwigBundle is not enabled.

In my use case I have a stripped-down Symfony setup without twig and I simply want to output the spec in JSON. I have worked around the issue by overriding "nelmio_api_doc.controller.swagger_ui" in my app, but it would be nic

[2017-08-23 08:12] mkuroszxsolve commented on #1065
Problem is caused by conflicts with newer version of "zircote/swagger-php". To resolve the problem quickly, you should downgrade the version of "zircote/swagger-php" to version 2.0.9 by adding to your composer.json the following line:

```"zircote/swagger-php": "2.0.9"```

[2017-08-23 15:15] wraycode commented on #1068
still not totally working I do not get the properties i n the array of objects

`     *     @SWG\Parameter(
     *       name="body",
     *       in="body",
     *       description="json order object",
     *       type="json",
     *       required=true,
     *       paramType="body",
     *      @SWG\Schema(
     *        type="object",
     *        @SWG\Property(
     *             type="str

[2017-08-23 18:45] tarlepp commented on #1065
It seems that also `"zircote/swagger-php": "2.0.10"` works.

So just for a though should you "lock" your dependency versions ? OR at least run tests when some of those has been updated.

[2017-08-23 18:53] tarlepp commented on #1065
Hmm, I think that this is the breaking change https://github.com/zircote/swagger-php/commit/b7a0fb0989cc686f85191763cd3f0fbbb3a0f627

[2017-08-26 23:49] 7thcubic commented on #1055
http://docs.swagger.io/spec.html

4.3.5 actually file type is not recommended

[2017-08-27 15:40] GuilhemN commented on #1065
See https://github.com/nelmio/NelmioApiDocBundle/pull/1073

[2017-08-27 15:44] tarlepp commented on #1065
Tried #1073 and results are the same.

[code]

[2017-08-27 15:47] GuilhemN commented on #1065
@tarlepp are you sure you correctly tested #1073? Because line 74 is a line break...

[2017-08-27 15:59] GuilhemN commented on #1072
Thanks for the report!
See https://github.com/nelmio/NelmioApiDocBundle/pull/1074

[2017-08-27 16:36] tarlepp commented on #1065
@GuilhemN Damn, I though that fix was already merged to master...

[2017-08-28 18:36] wesleylancel opened #1075 "float type not being detected from JMS Serializer"
I'm using the @Model annotation in combination with JMS Serializer, but it doesn't seem to be detecting the type of properties that are floats.

[2017-08-28 18:52] wesleylancel commented on #1075
Fix in #1077

[2017-08-28 19:32] #1065 closed

[2017-08-28 19:33] #1072 closed

[2017-08-29 10:31] truttmann commented on #657
+1

[2017-08-29 13:10] Nyholm opened #1078 "Support for fractal transformers"
I've looked a bit in the source code and tried to find a solution but I failed. So here is an issue with my feature request.

Im using [Fractal transformers](https://fractal.thephpleague.com/transformers/) to output my data. A transformer may be as simple as:

[code]

But it could also [include other transformers](http://fractal.thephpleague.com/transformers/#including-data).

I would love to see

[2017-08-29 17:48] kopaygorodsky opened #1079 "[3.0] FormModelDescriber doesn't go down recursive in forms."
Only main form is handled. Is it expected behavior?
If yes, then I have a question how to describe the full form with all child forms.

[2017-08-29 19:12] kopaygorodsky commented on #1079
As I understood I can pass FormType to `@Model ` annotation and it will be parsed&defined as Model.
I played a bit with bundle and force it to recognize embedded forms.
In result I have an array of Definitions where are Entities and Forms together(like User and UserType).  Is it right way of implementing this?

I added model registry trait to FormModelDescriber and at the end of second cycle
[code

[2017-09-01 14:18] crashev opened #1080 "Problems using @Model annotation"
Hello,
nelmio/api-doc-bundle                           v3.0.0-BETA4
zircote/swagger-php                             2.0.11

trying such annotations:

[code]

getting:

`
User Notice: $ref "#/definitions/User" not found for @SWG\Items() in \Nelmio\ApiDocBundle\SwaggerPhp\ModelRegister->__invoke() in .....vendor/nelmio/api-doc-bundle/SwaggerPhp/ModelRegister.php
`

am I doing something wrong here ?

[2017-09-01 20:26] kopaygorodsky commented on #1080
@crashev read prev issues. Solution:
[code]

[2017-09-01 20:55] GuilhemN commented on #1080
You can also use `dev-master` which contains a fix :)

[2017-09-01 20:55] #1080 closed

[2017-09-04 12:04] kopaygorodsky commented on #1079
@GuilhemN   If it's ok, I can work in this way deeper and contribute my solution.

[2017-09-05 22:22] bilel-noomene commented on #510
+1

[2017-09-08 17:06] GuilhemN commented on #1079
I don't well the form component so I don't know if this the right way to do it but if you think it's fine and you test your change I'll merge it :)

[2017-09-11 09:23] thbergler commented on #957
Hello @DavidGarciaCat i run into the same problem.

When I use a Entity Class which is used with Doctrine, the output is rendered. If I just a simple Entity Class Object, which is not persisted with Doctrine, I get no output.

Did you find any solution already?

[2017-09-11 12:22] discordier commented on #1075
Has been merged, therefore can be closed.

[2017-09-11 12:23] #1075 closed

[2017-09-11 15:01] discordier opened #1082 "[3.0] Follow up on #1065 - non annotation definitions cause validation notices"
The fix for #1065 (PR #1073) correctly fixes the validation problems for annotation based definitions, however any custom definitions referenced from annotations are causing user notices like:
[code]

In this example, I have defined the definition via configuration:
[code]

Generated API information looks ok, only the validation screws up.

Same happens when adding anything via an own describer, t

[2017-09-11 17:17] DavidGarciaCat commented on #957
Hi @thbergler

The only way I have found for now - and I am not pleased to use this one - is setting my Serializer details using Yaml files instead of PHP annotations.

However, I think is sad when you report a bug like this (due the PHP annotation to serialise the content is working, just fails providing the API docs) and no one answers you...

Best regards,

[2017-09-12 10:59] choonge opened #1083 "Inline schema allOf not working"
We have a Symfony 3.3 application which has a `Project` model. To improve DRY, we use JMS Serializer annotations on the Model to define which fields to expose using the API. But the response is not always exactly the model - sometimes we add more information to the JSON output. For example, an `url`. To this end, we use the `allOf` property as follows in this controller method annotation:

[code]

[2017-09-12 13:59] szepczynski opened #1084 "[3.0] @Model annotation always generate array (items)"
Example 1:
[code]

Example 2:
[code]

Both of examples produces this json:

[code]

Expected behavior: For example 1 json should be:
[code]

[2017-09-13 09:33] padlavoine opened #1085 "Could not resolve reference when $ref relative path files. "basePath" undefined."
I've actually a problem with $ref when displaying the swagger ui:

Resolver error at paths./private/api/v1/users.get.responses.200.schema.$ref
Could not resolve reference: ../../Entity/User.php#/definitions/User

/Controller/PrivateApi/UserController.php

[code]
/Entity/User.php

[code]

config.yml:

[code]
Thanks

[2017-09-13 21:04] GuilhemN commented on #1085
`@SWG\Definition` is not supported by this bundle, that's why we provide `@Model`.

[2017-09-13 21:05] GuilhemN commented on #1084
You have to remove the `@Schema` annotation around `@Model`.

[2017-09-13 21:09] GuilhemN commented on #1083
I think that's a mistake indeed, please send a PR if you can :)

[2017-09-13 21:14] GuilhemN commented on #1082
Sorry I don't have much time these days so I can't search for a better solution than yours. Please do what you think is best :)

[2017-09-14 05:16] choonge commented on #1083
@GuilhemN Thank you, PR sent :)

[2017-09-14 08:54] padlavoine commented on #1085
Ok, so it's not possible to add custom model ? not an entity linked with database.
Sometimes, the controller get data from many entities and make new data model object with new datas.

[code]

But I can not expose the model to swagger. The model on the swagger-ui is empty.

[2017-09-15 18:02] GuilhemN commented on #1085
We could provide a config option to configure parameters using `@Definition` (by looking only in some folders) or you could just define your models in `swagger.documentation`.

If you're using the JMS serializer check that you correctly configured your model parameters exposition.

[2017-09-19 15:13] Andreeey commented on #509
+1

[2017-09-20 05:18] #1079 closed

[2017-09-22 07:43] #933 closed

[2017-09-22 11:18] crashev commented on #1037
@fsevestre Hello could you show example how did you solve it using definitions? I'm still not able to achive correct result, tryed all combinations, only @Model works, but it's not what I'm looking for

[2017-09-23 19:12] eldad87 opened #1089 "When adding POST - PATCH method is added as well"
Hi,
Branch: `dev-master`.

[code]

[code]

UserController.php
[code]

**Expected result**: There is a new POST API method fully described.
**Actual result** 2 methods are added:
 - POST /Register - Only `user` parameter exists, with FULL JSON description (good thing) of User::class documented.
 - PATCH /API/{version}/User/egister - `version` parameter + `user` exists. This time `user`'s Descriptio

[2017-09-23 19:20] eldad87 opened #1090 "How to add constraint into JSON Schema"
Hi,
Branch: `dev-master`.

Is there a way to display what are the limitations on a given field?
[code]

In this example, if I'll use:
[code]
I would expect the documentation to notify that there is a `min: 2` and `max: 25` length limit, something like [this](http://json-schema.org/examples.html).
Same thing goes with `@Assert\Range` etc.

Is there a way to do that?
Thanks!

[2017-09-23 19:47] eldad87 opened #1091 "What is the best practice for using this Bundle along with FOSRestBundle?"
Hi,
Branch: `dev-master`.

I'm trying to embed this new bundle, so far, it ain't smooth as I expected it to be.
Anyway, the options are limitless, but there is no documentation on how to use them.

I'm looking for an advice on how to use this Bundle along with FOSRestBundle (a NEW project, no migrations are needed).
From what I've read so far, in order to build consistence documentation and constr

[2017-09-23 22:26] eldad87 opened #1092 "How to describe a Response schema?"
Hi,
Branch: `dev-master`.

How can I model a response that look like this:
`[{"key":"val"}]`

For example, ConstraintViolationList:
`[{"property_path":"username","message":"This value is too short. It should have 5 characters or more."},{"property_path":"email","message":"This value is not a valid email address."}]`

I tried to annotate it:
[code]
Which lead to more issues, Examples doesn't show u

[2017-09-23 22:48] GuilhemN commented on #1090
The bundle does not support validation metadata, that'd be a great addition though.

[2017-09-24 11:54] eldad87 commented on #1092
I reviewed my annotation once more, it seems like a bug.

This annotation:
[code]
Rresult in this `example value`:
[code]
While it should be:
[code]

Please advise,
Thanks!

[2017-09-24 11:58] eldad87 commented on #1090
Cool.
Is there any "Developer" guide?
I would like to evaluate the complexity before I commit to do a PR.

[2017-09-24 12:02] GuilhemN commented on #1090
You mean [this](https://github.com/nelmio/NelmioApiDocBundle/blob/master/CONTRIBUTING.md)?

[2017-09-28 06:47] classifieds-maciej commented on #1092
Same here.
[code]
Results:
[code]

[2017-09-29 07:06] chucky2305 commented on #1029
@noglitchyo Can use tell me how you configured a ControllerRoute, where you reused your defined Bearer-Authorization?

[2017-09-29 07:27] chucky2305 commented on #1029
yes the Close-Button is still missing for the Authorization-Overlay

[2017-09-29 09:23] Alex-D commented on #1029
Yep, you need to add that: https://github.com/Collect-io/Collect.io/blob/develop/back/app/Resources/NelmioApiDocBundle/views/SwaggerUi/index.html.twig#L101

I'm sure it could be done here: https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/views/SwaggerUi/index.html.twig

But I did not have time to make a PR for the moment.

[2017-09-29 09:51] chucky2305 commented on #1029
Thanks @Alex-D.
@noglitchyo: i got it working with your config.

[2017-09-29 10:38] angrygreenfrogs opened #1095 "JMSModelDescriber is being used for describing all objects, not just those using JMS annotations"
My response has a Login object, which has an embedded User object. The Login model works fine, but I can't get the properties of the embedded User model to come through.

Example cut-down controller:
[code]
Login object:
[code]
User object:
[code]
The resulting definition json looks like this:
[code]

You can see the Login object is showing up with its properties, but no matter what I do, I can't

[2017-09-29 17:35] angrygreenfrogs commented on #1095
I think I've finally figured out the root problem.

It seems the JMSModelDescriber is being used for getting the properties of both of the model classes (Login/User), even though only the Login class is using JMS annotations.

In JMSModelDescriber.php in the function supports(), there's this line of code:
[code]

This is returning true for both of these classes, even though User is only a normal o

[2017-10-02 06:31] classifieds-maciej commented on #1092
Removing Scheme worked for me:
[code]

Good documentation is really needed.... :)

[2017-10-02 10:51] chucky2305 commented on #1080
I still get this error, though i have zircote in version 2.0.11

This is my controller-action definition

[code]

And this is the model i want to use:

<?php

namespace Sendis\Presentation\RestBundle\Model;

[code]

that results in this message

`User Notice: $ref "#/definitions/DeliverySlipUpdateRequest" not found for @SWG\Items() in \Nelmio\ApiDocBundle\SwaggerPhp\ModelRegister->__invoke() in /a

[2017-10-02 12:10] kopaygorodsky commented on #1080
@chucky2305 2.0.11 version contains a BC, try to use another version. 2.0.10 is ok or dev-master

[2017-10-02 12:59] chucky2305 commented on #1080
Okay.But now i get new problems.

With this ControllerAnnotation

[code]
and this Model-Definition:

[code]

i get the following message. It not an error. I can see the swagger ui, but this message appears on top

Errors
Hide
Resolver error at paths./api/deliveryslip/update/{slipIdentifier}.put.parameters.1.schema.$ref
Could not resolve reference: #/definitions/DeliverySlipUpdateRequest

When i tr

[2017-10-03 17:05] Devristo opened #1096 "SwaggerUiController overrides `basePath` configured in the API specification"
Currently the `SwaggerUiController` overrides the `basePath` if configured.

[code]
This breaks our application as we already have  `$spec['basePath']` set.

Perhaps the value should only be set if it hasn't been set in the `$spec` before?

[2017-10-03 17:15] Devristo opened #1097 "Swagger UI OAuth2 not working due to missing oauth2-redirect.html"
![image](https://user-images.githubusercontent.com/1564257/31138534-21ece894-a86f-11e7-9211-bd46a7bf5236.png)

In the  Swagger UI its possible to authorize the client using OAuth2. Currently in the NelmioApiDocBundle this is not working due to two issues:

* Parameter `oauth2RedirectUrl` can not be configured (this defaults to `http://localhost:3000/oauth2-redirect.html`).
* The `oauth2-redirect.h

[2017-10-04 07:50] chucky2305 commented on #1080
@konradpodgorski Any help on this?

[2017-10-05 12:07] kix opened #1100 "PropertyInfoExtractor seems to break the doc"
I have a model that uses `@Groups` annotation from Symfony serializer. However no properties are returned by `PropertyInfoExtractor`: the first extractor it delegates to is `SerializerExtractor` which returns an empty array, which in turn gets returned as the field list. The models are annotated with `@Groups`, and my controller is annotated as follows:
[code]

As a result, I get empty model defin

[2017-10-05 12:54] chucky2305 opened #1101 "Definition not loaded"
I use following versions:
zircote/swagger-php in version 2.0.10
nelmio/api-doc-bundle in version v3.0.0-BETA4

[code]
This is the Model/Definition I want to use in my Controller-Action:

[code]
But when I go to my documentation page at /api/doc, I see this error:

Errors
Resolver error at paths./api/deliveryslip/update/{slipIdentifier}.put.parameters.1.schema.$ref
Could not resolve reference: #/de

[2017-10-05 13:19] chucky2305 commented on #1080
Nevermind. I found the solution. I just needed to define the loaded model with its complete namespace like so:

[code]

[2017-10-05 13:20] chucky2305 commented on #1101
I found the Solution for my problem. I just needed to load the external Definition like so:

[code]

[2017-10-09 11:57] tamcy commented on #1092
Same here.

Given this works:
[code]

<details>
   <summary><code>View JSON output</code></summary>

[code]
</details>

But this doesn't:
[code]

<details>
   <summary><code>View JSON output</code></summary>

[code]
</details>

I'm also inclined to believe that a bug is found. Now need to find out which part (the bundle or Swagger-PHP) causes this...

[2017-10-09 11:59] chucky2305 opened #1102 "Describe Request properly"
This is the requestJson i want to cover:

[code]

This is my current way with which i create the api documentation:

[code]

An this results in
![swagger_current](https://user-images.githubusercontent.com/4227462/31337043-dc2d58f4-acf9-11e7-9d8e-152137f9bca6.png)

a) The original request looks somehow different in the documentation
b) I can imagine that i misconfigured some parts. Any help on maki

[2017-10-09 12:25] tamcy commented on #1100
Please try the followings and see if they solve your problem:

1. Make sure `enable_annotations` is `true` in `config.yml`:
[code]

2. Make sure you have installed `phpdocumentor/reflection-docblock`.
[code]

[2017-10-09 14:59] tamcy commented on #1092
First of all, this is the second day after I installed this bundle and get to know about all these swagger stuff. So I don't know enough about what's going on. My apology.

Anyway, the cause seems to be the `\EXSyst\Component\Swagger\Items` class of the `exsyst/swagger` library.

The JSON file generated by the swaggerphp library is correct. Then this ApiDocBundle needs to deserialize it for furthe

[2017-10-10 01:19] tamcy commented on #1092
mmm... looks like the implementation of "Items" annotation between `zircode/swagger-php` and `exsyst/swagger` is out of sync.

We can define child properties in @Items thanks to this commit:
https://github.com/zircote/swagger-php/commit/1ce1711fb3941b7acf86d84e2de7cceb54f37075

From the changeset I found that the `Items` annotation before modification is exactly the representation of the current

[2017-10-11 07:16] choonge commented on #1083
PR was merged, thanks @GuilhemN :)

Could I request a release of `exsyst/swagger`, so it becomes active in my project? The `~0.3` in composer.json should pull in `0.3.1` automatically.

[2017-10-11 15:57] 24HOURSMEDIA opened #1103 "Example values in Model"
How can I set up example values in my model classes themselves?

I know how to do that in the controller (using 'examples' attribut), but I want them annotated in my models themselves.

I do not use api platform, jms serializer but handle all the serialization in another way. I.e. my models are plain objects

I.e. my model:

[code]

and in my controller:

[code]

[2017-10-12 04:59] tamcy commented on #1092
Ref:
   * https://github.com/zircote/swagger-php/issues/245
   * https://github.com/GuilhemN/swagger/pull/3

The above issues don't relate directly to this one, but from their description it seems that
   * `exsyst/swagger`'s implementation is done according to the spec
   * the change by `zircode/swagger-php` violates the spec (OpenAPI spec 2.0 aka Swagger 2.0)

Now I am extremely confused.

[2017-10-12 05:20] GuilhemN commented on #1083
Sure, done ;)

[2017-10-12 05:20] #1083 closed

[2017-10-13 08:11] sujayjaju commented on #657
+1

[2017-10-16 10:05] MichaelHindley opened #1106 "Solved [user error]"
Solution found

[2017-10-16 13:04] MichaelHindley commented on #978
@GuilhemN
say I had an input annotation in 2x that mapped to a single class, in 3.0, this functionality does not work?

@SWG\Schema type does not accept "object", so how does one use an object with properties like with the old input annotation?

[2017-10-16 13:10] #1106 closed

[2017-10-16 15:49] NeilJ247 commented on #657
+1

[2017-10-17 13:50] juntereiner opened #1107 "[3.0] Default Body Format"
I use FOSRestBundle and I describe an api like that:

[code]

When I go to the api doc, all request parameters are sent in the body as formData.

In nelmio api doc 2.*, it was possible to set the default body format, json for example.
Is that still possible with the new version?

[2017-10-17 14:21] matrix818181 opened #1108 "@Model - The PropertyInfo component was not able to guess the type"
I'm trying to reproduce old behaviour from ApiDoc annotation like "input".

[code]

But I have some issue on how to represent a model to submit.

Here is what I came with.

[code]

I'm able to load the form model, but it won't work with the properties.

[2017-10-17 16:24] alejgarciarodriguez opened #1109 "How to show a example json output"
Can I use "output" ApiDoc annotation to show a response output sample?  Something like this:
[code]

[2017-10-18 09:53] christian-kolb commented on #806
Would be great to have this as a feature. Looks like this fall down somewhere. Or is there another PR or issue solving this problem?

[2017-10-18 20:54] matrix818181 opened #1110 "[3.0] Parse form with CollectionType"
Is it normal that FormModelDescriber doesn't work with CollectionModelDescriber ?

I have a collection within a form but I'm not able to transform it in a :

[code]

Is this a bug or do I have to do something else ?

Update...
From what I understand, it seems like we do nothing with a collection.
[code]
The `$subType` variable is not used anywhere.

[2017-10-19 08:58] 7thcubic opened #1112 "[3.0] jms child item field serializing"
I think the describer is not parsing the child group for jms serializer properly.

Example:

[code]

with the serialization group of
["list","content", "bar" => "full"]

the serialization registry should handle

[code]

instead of

[code]

Some how or rather it isn't processing correctly right now because we are re-registering the child object with the entire group string which does not generate t

[2017-10-19 09:13] cosminroman commented on #1109
You can show a response example like this:

* @Operation(
*     tags={"myResource"},
*     summary="Some Description",
*     @SWG\Response(
*         response="200",
*         description="Returned when successful",
*         @SWG\Schema(
*              type="array",
*              example={
*                   "hello": "world"
*              }
*         )
*     )
* )
*/

[2017-10-19 21:41] juntereiner opened #1115 "[3.0] Remember api key"
If you set the api key then refresh the api doc, the api key is gone. That's a bit frustrating,and the version 2.* could remember it.

Is there an option to remember the api key?

[2017-10-20 05:12] GuilhemN commented on #1115
Is this about 3.0 or 2.0?

[2017-10-20 07:56] gijsstegehuis commented on #1085
Is it possible to combine definitions using the `@Model` annotation?
see example here: https://github.com/zircote/swagger-php/issues/243#issuecomment-141102541

If not, we really need `@SWG\Definition` support in this bundle.

[2017-10-20 08:56] MrBanjo commented on #1115
I'm using the 3.0. I just would like to know if it possible to remember the api key on reload like it was possible with the 2.0.

[2017-10-20 12:10] MichaelHindley commented on #1090
I think he means more of a outline of the architecture, the moving parts and how to extend or replace functionality.

I'm in the same boat and trying to figure out the best approach. Sadly so far I've figured out that the popular FOSRestBundle that is often used together with Nelmio/SF2 Validator does not generate validator metadata when using body converters, which are typically used together wit

[2017-10-20 14:31] NeilPeyssard commented on #1066
Did you tried this ?

[code]

[2017-10-22 09:18] GuilhemN commented on #1115
Well that's up to swagger-ui, and it seems they do not allow this currently, though [they are workarounds](https://github.com/swagger-api/swagger-ui/issues/3079).

[2017-10-22 15:35] timotheemoulin opened #1116 "Component\Swagger\Collections\Responses does not implement Countable"
Hi all,
after upgrading from nelmio v2 to v3 I always get the following error

It runs on PHP 7.2 with Symfony 3

[2017-10-23 10:47] MichaelHindley commented on #1090
We have some basic functionality for this, by having our own model Describer that is based on the JMSSerializer one

![image](https://user-images.githubusercontent.com/1016639/31885297-57db879a-b7f0-11e7-9698-f9694f779a42.png)

[2017-10-23 11:10] zhanghuanchong commented on #1085
My solution:

Define the definition in config.yml:
![image](https://user-images.githubusercontent.com/3062319/31886121-a7a58e16-b7b8-11e7-81d5-0b315ea626cf.png)

Define the schema:
![image](https://user-images.githubusercontent.com/3062319/31886108-96923570-b7b8-11e7-9bab-f83b574f71a8.png)

Output doc:
![image](https://user-images.githubusercontent.com/3062319/31886078-6cec5660-b7b8-11e7-9aac-de1c

[2017-10-23 11:15] gijsstegehuis commented on #1085
Thanks @zhanghuanchong.
I came up with the same solution :)

Still, `@SWG\Definition` would be a much neater solution.

[2017-10-24 15:18] NeilPeyssard commented on #1107
Maybe you can try something like this :

[code]

[2017-10-25 09:36] #1084 closed

[2017-10-26 11:53] koftikes commented on #1029
What about impliment Bearer Authentication
It should be like basic
https://swagger.io/docs/specification/authentication/bearer-authentication/

Thank you in advance.

[2017-10-26 13:06] Alex-D commented on #1029
You point the OpenAPI 3.0.0, we are in Swagger 2.0.0 here I guess.

[2017-10-27 19:42] tarlepp opened #1120 "How to order API doc?"
So basically order by `Swagger\Annotations\Tag` and route URL + method

[2017-10-31 14:56] presscot opened #1121 "Host/hosts parameter"
I propose to add the host/hosts parameter to config.

`
    private function match(Route $route): bool
    {
        if(  !in_array( $route->getHost(), $this->hosts ) ){
            return false;
        }
        foreach ($this->pathPatterns as $pathPattern) {
            if (  preg_match('{'.$pathPattern.'}', $route->getPath())) {
                return true;
            }
        }

        ret

[2017-10-31 22:24] timotheemoulin opened #1122 "[3.0] Authenticated request configuration"
Hi,
I'm trying work with the new 3.0.0-BETA4 version but the Authentication feature fails all the time.

If I try to access an action behind my firewall, without authorization I get the usual 403 error, but once I authorize with a valid token and then try again to access to the same action, the Javascript seems to load infinitely and I've got this error in my console.
![image](https://user-images.

[2017-11-07 02:03] 7thcubic commented on #1078
Actually for your use case you need definition of type for those returned data.

Does it exist anywhere in your code base? Because from what I see, your return fields might be dynamically generated.

Also are there use cases where fields might or might not exist due to specified conditions?

Might need to have something similar to JMS config file which supports expression language.

A workaround w

[2017-11-07 19:17] timotheemoulin commented on #1122
Adding the Polyfill foreach function makes all work.

[code]

[2017-11-08 10:20] AizeLeOuf opened #1124 "Array to string conversion error with default={} in queryparam"
Hi guys,

I think there is an issue with param default for QueryParam :

` * @Rest\QueryParam(name="plugins", nullable=true, default={}, description="plugins enabled")`

Return

An exception has been thrown during the rendering of a template ("Notice: Array to string conversion").

Thanks

PS: version 2.13.2

[2017-11-10 09:53] ramoshka commented on #1107
In my understanding suggested solution leaves action without parameters fetcher. It is not a big loss since you can always get `$request->request->get('param')` instead of `$paramFetcher->get('param')`. But still you're crippling yourself a bit with forcing yourself out of some nice FOSRestBundle's features.

[2017-11-10 15:47] tarlepp commented on #1120
Any solutions for this ?

[2017-11-11 18:07] neok opened #1127 "Swagger analog to form type input"
In the previous version we used something like this:
[code]

But with new version(with swagger) I cant find a solution how to simply set input type to `AddressType`

currently, I have to define every single field like this:
[code]
any solution?

[2017-11-13 01:15] MJBGO opened #1128 "[3.0] BasePath doubled"
Hi,

I've been searching for a solution but could not find one ...

I've set the basePath parameter to "/api/v1/" and my routing.yml looks like this :

![image](https://user-images.githubusercontent.com/8344487/32705844-a00e843a-c818-11e7-8ff2-7bb5ecd6d384.png)

But all my paths still have the "/api/v1" prefix and when I execute them, the path is doubled "/api/v1/api/v1" ...

![image](https://user

[2017-11-14 12:35] GuiuMateu commented on #525
Is it solved or we should use workaround?

Thanks

[2017-11-19 15:08] kopaygorodsky commented on #1110
fixed in https://github.com/nelmio/NelmioApiDocBundle/pull/1126

[2017-11-19 15:09] #1110 closed

[2017-11-19 22:54] nbucic commented on #1036
I've encountered the same problem. When I define global parameter

    documentation:
        info:
            title: Awesome APP
            description: Awesome APP documentation
            version: 1.0.0
        parameters:
            dateFrom:
                in: query
                name: dateFrom
                description: "Timestamp, used for filtering data. Inclusive"

[2017-11-21 11:37] AshleyDawson commented on #1036
+1

I'm getting this issue as well. I'm trying to define global parameters and then use "ref" to link them and I'm getting the exact same issue as @nbucic. Please help as this infuriating!

[2017-11-21 12:16] nbucic commented on #1036
Problem is at https://github.com/nelmio/NelmioApiDocBundle/blob/2b15539cc3be700e0d689cfededc68194b1aa1f9/DependencyInjection/NelmioApiDocExtension.php#L107

The part from the config.yml is taken as is, without validation and without creating back-references to them

[2017-11-21 13:11] AshleyDawson commented on #1036
If you add the following try block to: `Nelmio\ApiDocBundle\ApiDocGenerator` (around line 60):

[code]

... in dump(), `$this->swagger` contains a set of parameters configured globally, however when you dive into `Swagger\Analysis::validate()` (Line ~328) you'll see that the instance of `$this->swagger` used there to validate is a a different instance (without the parameters defined).

So, it look

[2017-11-22 09:48] AshleyDawson commented on #1036
Still can't figure this one out - it's causing a lot of pain. Please could the author take a look?

[2017-11-22 14:03] Siprah commented on #1091
:+1: I have same question. I wouldn't define same thing in two cases.

[2017-11-23 02:12] woofiewilly commented on #530
+1. It's been 3 years and this seems like a fairly simple feature that should already be a thing.

[2017-11-24 12:44] woofiewilly opened #1130 "Exclude or specify methods in documentation"
I have some routes which are abstracted through a view layer to handle a normal HTML response or API responses. So on one controller I have more than one Method annotation. When I use ApiDoc on these methods it documents all methods though, and I want to exclude the method that is exclusively for HTML from the documentation.

Example:
[code]

It would also be beneficial if we could specify by rout

[2017-11-27 00:30] Sydney-o9 opened #1131 "Translation Domain"
This is just a quick note - I have noticed `translation_domain` passed  to `configureOptions()` in a form type are not parsed.

Here is a simple example:

![image](https://user-images.githubusercontent.com/1480617/33246240-584dd3c2-d366-11e7-8f38-6bdb38e73e2e.png)

<kbd>ApiDoc Annotation</kbd>

[code]

<kbd>GameFormType</kbd>

[code]

<kbd>Resources/config/translations/forms.en.yml</kbd>

[code]

[2017-12-06 09:21] vladkras opened #1135 "Unnecessary backslashes in curl headers"
My request works fine in sandbox, but when I copy-paste "Curl Command Line" request
[code]
it fails because of backslashes in headers:
[code]
If I remove them - everything works as expexted. Not a big deal but annoying.

I'm usign "nelmio/api-doc-bundle":"2.13.2" and update to "~3.0@beta" is undesirable.

[2017-12-07 06:48] 7thcubic commented on #1103
based on the latest dev-master commit
[code]

[2017-12-07 06:53] 7thcubic commented on #1130
you can add in method, assuming you are on 2.0

[code]

[2017-12-07 18:12] notFloran commented on #1121
I have the same needs, to work around the problem we defined our own FilteredRouteCollectionBuilder with a CompilerPass.

A possible solution would be to implement a system like the zone of FOSRestBundle (http://symfony.com/doc/master/bundles/FOSRestBundle/3-listener-support.html#zone-listener).

Ex:
[code]

[2017-12-08 08:54] sebvie commented on #323
same problem

[2017-12-09 11:19] dkorsak opened #1137 "The service "nelmio_api_doc.formatter.html_formatter" has a dependency on a non-existent service "templating"."
Version 2.13

[2017-12-09 18:07] wendel841 commented on #1116
+1 for this issue. Seems like php 7.2 issue with https://wiki.php.net/rfc/counting_non_countables

Can be fixed in DefaultDescriber.php line 41:
`if (0 === count($operation->getResponses())) {`

Should be:
`if (0 === iterator_count($operation->getResponses())) {`

[2017-12-09 20:13] woofiewilly commented on #1130
@7thcubic I tried those extra options, and it does not properly exclude the other routes in the generated documentation.

This is my exact annotation setup:
[code]

[2017-12-10 05:37] phptuts commented on #1137
I running into this issue as well.

[2017-12-10 05:38] phptuts commented on #1137
For me it's using symfony 4 it works with symfony 3.4.

[2017-12-10 13:20] PhPPgAdminBug opened #1138 "The service "nelmio_api_doc.formatter.html_formatter" has a dependency on a non-existent service "templating"."
[code]
1 - we can not install you package to Symf 4 even with required packages.

**2 - Now, after installation of your package to Symfony 4, and removing it, we can not clear cache!**

[code]

**So, now we have to search and fix at least cache:clear....**

**Removing cache and vendor folders does not helped.....**

[2017-12-10 15:15] GuilhemN commented on #1116
This issue has already been fixed https://github.com/nelmio/NelmioApiDocBundle/commit/da1c1e66f8461ae1a498248bd552d8f621f493bd.

[2017-12-10 15:15] #1116 closed

[2017-12-11 09:57] simshaun opened #1140 "[3.0] API Platform + NelmioApiDocBundle prefix issues"
I'm using API Platform + NelmioApiDocBundle.

The API Platform's built-in docs are correct and look like this:
![image](https://user-images.githubusercontent.com/379519/33824698-3d2854ba-de2d-11e7-91e2-4eec8cb51430.png)

And this is what the Nelmio API docs look like. It's adding an extra `/api`.
![image](https://user-images.githubusercontent.com/379519/33824720-50b599d4-de2d-11e7-8aef-e3d4209143c

[2017-12-11 14:34] slootjes opened #1141 "Mention Twig and Asset requirements for use with Symfony Flex"
To make this bundle work with Symfony Flex it's required to manually install "twig-bundle" and "asset". It would be helpful if this was mentioned in the documentation. When installing this without those you will get an exception about the router which can not handle the "nelmio_api_doc.controller.swagger_ui" controller as this is removed since the TwigBundle isn't loaded.

[2017-12-11 15:31] kachraf commented on #525
Same question: Is it solved or we should use workaround?

Thanks

[2017-12-11 23:33] MichaelMackus commented on #525
I don't think this is solved. I am using a fork as specified in [my comment above](https://github.com/nelmio/NelmioApiDocBundle/issues/525#issuecomment-204005673) and it has been working.

[2017-12-12 11:50] jhkchan opened #1143 "Need Symfony Recipe for 3.0"
I have reported at https://github.com/symfony/recipes-contrib/issues/197 and they suggested to report here instead.

[2017-12-12 17:13] aklakl commented on #1097
how to fix that？

[2017-12-14 10:23] szepczynski opened #1144 "Error with flex"
NelmioApiDoc has no recipe for flex and does not have routing file in default location.
Installing this bundle by flex cause this error:

[code]

[2017-12-15 12:57] unglud commented on #1143
https://github.com/symfony/recipes-contrib/pull/207

[2017-12-15 12:58] unglud commented on #1144
https://github.com/symfony/recipes-contrib/pull/207

[2017-12-16 00:27] MJBGO commented on #1140
I have the same issue :(

https://github.com/nelmio/NelmioApiDocBundle/issues/1128

[2017-12-17 09:12] GuilhemN commented on #1144
Duplicate of https://github.com/nelmio/NelmioApiDocBundle/issues/1143

[2017-12-17 09:12] #1144 closed

[2017-12-17 09:14] GuilhemN commented on #1141
See https://github.com/symfony/recipes-contrib/pull/207/files#r157362744

[2017-12-17 09:16] GuilhemN commented on #1128
You did set it manually ? If so this bundle does not take it into account.

[2017-12-17 09:19] GuilhemN commented on #1140
Not sure what to do here... I have to investigate why this is happening but I do not have much time these days :/
Would greatly appreciate help here :)

[2017-12-18 12:30] MatthewBooth commented on #1137
Not working for me on symfony 3.4

[2017-12-18 12:48] dbu opened #1149 "error when symfony form component is not activated"
if the form component is not activated in the symfony framework bundle, but the code is available, we get an error `The service "nelmio_api_doc.generator" has a dependency on a non-existent service "form.factory".`

the correct thing would be to do a compiler pass that checks the container for form.factory and only adds the form model describer if forms is enabled.

[2017-12-18 12:49] dbu commented on #1149
i can do a pull request for this if you agree that this is the correct approach.

[2017-12-18 16:48] #450 closed

[2017-12-18 20:05] GuilhemN commented on #1149
That's indeed a problem... See https://github.com/nelmio/NelmioApiDocBundle/pull/1154 :)

[2017-12-19 09:28] thePanz commented on #1138
Duplicated of https://github.com/nelmio/NelmioApiDocBundle/issues/1137

[2017-12-19 10:02] dbu commented on #1149
will be fixed by #1154

[2017-12-19 10:02] #1149 closed

[2017-12-19 10:03] #1138 closed

[2017-12-19 13:04] julien-its opened #1156 "Integration with friendsofsymfony/oauth-server-bundle"
Hello,

I would like to know how integrate the sandbox with oauth-server-bundle with nelmio api doc v3.

Is it possible ?
Thanks

[2017-12-19 19:37] GuilhemN commented on #1120
I'm not sure what you mean.

Isn't this enough?

[2017-12-19 19:38] GuilhemN commented on #1103
@7thcubic is right :)

[2017-12-19 19:38] #1103 closed

[2017-12-19 19:42] GuilhemN commented on #1096
The problem is that this bundle doesn't support a manually-defined basePath, so isn't all your doc wrong by forcing this setting?

[2017-12-19 19:43] GuilhemN commented on #1100
Closing as you got an answer. Thank you @tamcy :)

[2017-12-19 19:43] #1100 closed

[2017-12-19 19:48] GuilhemN commented on #1092
I decided to merge https://github.com/GuilhemN/swagger/pull/3, it shouldn't hurt much and it seems a lot of people want it. So I guess this can be closed?

[2017-12-19 19:55] GuilhemN commented on #1085
A partial `@Definition` support will be there soon (https://github.com/nelmio/NelmioApiDocBundle/pull/1151), awaiting PRs to have a more complete support :)

[2017-12-19 22:05] tarlepp commented on #1120
@GuilhemN so eg if I want to get something following:

GET /foo
GET /Foo/{id]
POST/foo
PUT /foo{id}
PATCH /foo{id}
DELETE /foo{id}

And currently I get something like
GET /user/{id}/roles
GET /user/{id}/groups
POST /user/{userId}/group/{userGroupId}
DELETE /user/{userId}/group/{userGroupId}
DELETE /user/{id}
GET /user/{id}
PATCH /user/{id}
PUT /user/{id}
GET /user/count
GET /user
POST /user
GET /u

[2017-12-19 22:10] GuilhemN commented on #1120
I would have to check to be sure but I think this is ordered according to your routes definition order.
So I guess defining your routes in the order you prefer should do the job.

[2017-12-21 17:42] wbrframe opened #1157 "SWG\Schema describes the model as an array...always. How to describe as an object?"
Is it possible to describe a (`@API\Model(type=..class..`) as an object? Because now I always get an array.

--------------

Case:

1. Controller action for the upload file.
[code]

2. File entity
[code]

--------------

After render docs I see

![img1](https://user-images.githubusercontent.com/4079553/34267017-fc5c295c-e683-11e7-8bf9-a39d5e37142d.png)

But I expected to see:

![img2](https://user

[2017-12-21 17:52] wbrframe commented on #1157
The same question and without an answer.
[https://stackoverflow.com/questions/35208033/nelmio-api-doc-documentation-says-my-json-objects-are-arrays-how-to-fix](url)

Perhaps I do not understand something fundamentally and there is no need to use arrays.

[2017-12-22 04:53] 7thcubic commented on #1157
please change your annotation to

[code]

basically remove the schema part. the model annotation automatically handles the declaration of schema thus when you declare a schema > model the bundle is treating it as an array of object

[2017-12-22 05:04] 7thcubic commented on #1128
can you post the annotation on the controller actions?

[2017-12-22 05:10] 7thcubic commented on #1140
not sure exactly what is happening but from my understanding.

routing prefix: /foo
controller route: /bar
action route: /action

will generate /foo/bar/action which is correct.

so not entirely sure what was being generated by the api platform bridge, need to investigate

[2017-12-22 06:34] wbrframe commented on #1157
Thanks, it worked!

[2017-12-22 07:16] dbu commented on #1157
great!

[2017-12-22 07:16] #1157 closed

[2017-12-22 12:49] za4me opened #1158 "Symfony 4 don't load services.xml"
Hi i'm install this bundle and in `example.com/api/` url get `LogicException` with message `Controller not found: service "nelmio_api_doc.controller.swagger_ui" does not exist.`

I think symfony cannot load services.xml inside bundle, but why? Or i make something wrong?

[2017-12-22 14:40] yonisolo commented on #537
Hi there,
I know this topic was originaly for Symfony3.x but in Symfony4, the standard overriding doesn't work,
under:
templates->bundles->NelmioApiDocBundle->Resources->views->SwaggerUI->index.html.twig
the overriding doesn't work at all...
Is there anybody to help for this please?

[2017-12-22 16:29] dbu commented on #284
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:29] #284 closed

[2017-12-22 16:31] dbu commented on #285
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:31] #285 closed

[2017-12-22 16:31] dbu commented on #473
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:31] #473 closed

[2017-12-22 16:32] dbu commented on #463
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:32] #463 closed

[2017-12-22 16:32] dbu commented on #448
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:32] #448 closed

[2017-12-22 16:35] dbu commented on #435
3.0 is released now. the documentation is rather short, further contributions are welcome ;-)

[2017-12-22 16:35] #435 closed

[2017-12-22 16:35] dbu commented on #433
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:35] #433 closed

[2017-12-22 16:36] dbu commented on #427
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:36] #427 closed

[2017-12-22 16:36] dbu commented on #426
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:36] #426 closed

[2017-12-22 16:36] dbu commented on #421
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:36] #421 closed

[2017-12-22 16:37] dbu commented on #404
fixed in #619

[2017-12-22 16:37] #404 closed

[2017-12-22 16:38] dbu commented on #397
version 3.0 should allow this with the swaggerphpp annotations

[2017-12-22 16:38] #397 closed

[2017-12-22 16:38] dbu commented on #394
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:38] #394 closed

[2017-12-22 16:39] dbu commented on #384
i am closing old tickets without activity. feel free to open a new issue if needed.

version 3 introduced a swagger domain model dependency that is used to collect the documentation which is then rendered. might be already supported or easier to add now.

[2017-12-22 16:39] #384 closed

[2017-12-22 16:39] dbu commented on #377
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:39] #377 closed

[2017-12-22 16:40] dbu commented on #368
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:40] #368 closed

[2017-12-22 16:40] dbu commented on #356
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:40] #356 closed

[2017-12-22 16:41] dbu commented on #346
fixed in #775

[2017-12-22 16:41] #346 closed

[2017-12-22 16:41] dbu commented on #342
i am closing old tickets without activity. feel free to open a new issue if needed. version 3 is quite a rewrite, maybe the problem does not exist anymore?

[2017-12-22 16:41] #342 closed

[2017-12-22 16:42] dbu commented on #323
if this is still a problem in version 3, please try to debug the feature and send a pull request to fix it @sebvie

[2017-12-22 16:44] dbu commented on #309
i am closing old tickets without activity. feel free to open a new issue if needed.

if somebody wants to do a pull request to the doc (README) with a tip for this jms configuration, please do.

[2017-12-22 16:44] #309 closed

[2017-12-22 16:45] dbu commented on #306
i am closing old tickets without activity. feel free to open a new issue if needed.

version 3 should be able to do all that with the swagger php support.

[2017-12-22 16:45] #306 closed

[2017-12-22 16:45] dbu commented on #296
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:45] #296 closed

[2017-12-22 16:45] dbu commented on #286
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:45] #286 closed

[2017-12-22 16:47] dbu commented on #981
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:47] #981 closed

[2017-12-22 16:47] dbu commented on #979
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:47] #979 closed

[2017-12-22 16:48] dbu commented on #978
3.0 is now released.

[2017-12-22 16:48] #978 closed

[2017-12-22 16:48] dbu commented on #977
i am closing old tickets without activity. feel free to open a new issue if needed.

is this still an issue with version 3?

[2017-12-22 16:48] #977 closed

[2017-12-22 16:50] dbu commented on #974
feel free to send a pull request for this @yarcowang if what is now available in the bundle v3 is not enough

[2017-12-22 16:50] #974 closed

[2017-12-22 16:50] dbu commented on #967
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:50] #967 closed

[2017-12-22 16:51] dbu commented on #964
its not at the moment supported. you could check if the swagger model that is used allows to reference other methods and if so send a pull request to implement `@see` in the phpdoc annotation reader.

[2017-12-22 16:51] #964 closed

[2017-12-22 16:52] dbu commented on #958
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:52] #958 closed

[2017-12-22 16:53] dbu commented on #957
unfortunately, nobody earns any money from spending time on this bundle, so we try to do what we can. if you can debug the issue and send a pull request to fix it, i am happy to review and merge it.

[2017-12-22 16:53] #957 closed

[2017-12-22 16:54] dbu commented on #946
@dominikzogg i am cleaning up old issues in this repo :-)
version 3 is out now, can you check if this is still an issue and if so send a pull request?

[2017-12-22 16:54] #946 closed

[2017-12-22 16:55] #944 closed

[2017-12-22 16:56] dbu commented on #936
i think guilhem is right: the first block with ApiDoc is not attributed to the method. each thing can only have a single docblock in php.

[2017-12-22 16:56] #936 closed

[2017-12-22 16:56] dbu commented on #931
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:56] #931 closed

[2017-12-22 16:56] dbu commented on #930
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:56] #930 closed

[2017-12-22 16:57] dbu commented on #929
version 3 has been released and is a complete rewrite. maybe the problem has gone away now. (make sure to include the routing files as the README explains)

[2017-12-22 16:57] #929 closed

[2017-12-22 16:58] dbu commented on #927
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 16:58] #927 closed

[2017-12-22 16:59] dbu commented on #914
i am closing old tickets without activity. feel free to open a new issue if needed.

version 3 is a complete rewrite and might have fixed the issue.

[2017-12-22 16:59] #914 closed

[2017-12-22 17:00] dbu commented on #911
might be a cached css or something? version 3 is now out and is a complete rewrite, i did not see the issue with it.

[2017-12-22 17:00] #911 closed

[2017-12-22 17:00] dbu commented on #906
you can now also use swagger php annotations in version 3

[2017-12-22 17:00] #906 closed

[2017-12-22 17:01] dbu commented on #903
i am closing old tickets without activity. feel free to open a new issue if needed.

[2017-12-22 17:01] #903 closed

[2017-12-22 17:02] dbu commented on #899
i am closing old tickets without activity. feel free to open a new issue if needed.

version 3 is a complete rewrite and might have fixed this. if its still an issue, please help by sending a pull request to fix it.

[2017-12-22 17:02] #899 closed

[2017-12-22 17:04] dbu commented on #898
look at https://github.com/nelmio/NelmioApiDocBundle/blob/master/Routing/FilteredRouteCollectionBuilder.php - i think you would need to see where in the bundle this is used and extend it to add your dynamic routes there.

the CMF ChainRouter might also help you, then you can add a route provider for your dynamic routes and use them everywhere in your project.

[2017-12-22 17:04] #898 closed

[2017-12-22 17:05] dbu commented on #897
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:05] #897 closed

[2017-12-22 17:07] dbu commented on #962
@Seldaek could you please activate styleci for this bundle? a .styleci.yml is already in the bundle code, but me and guilhem do not have permission to activate it.

[2017-12-22 17:08] #893 closed

[2017-12-22 17:09] dbu commented on #894
i think that is still missing. contributions welcome!

[2017-12-22 17:09] #894 closed

[2017-12-22 17:10] #892 closed

[2017-12-22 17:10] dbu commented on #891
verison 3 now has swagger-php support.

[2017-12-22 17:10] #891 closed

[2017-12-22 17:12] dbu commented on #886
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:12] #886 closed

[2017-12-22 17:12] dbu commented on #883
version 3 has been released and supports recent symfony versions.

[2017-12-22 17:12] #883 closed

[2017-12-22 17:13] dbu commented on #878
you can customize the twig template

[2017-12-22 17:13] #878 closed

[2017-12-22 17:13] dbu commented on #876
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:13] #876 closed

[2017-12-22 17:13] dbu commented on #873
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:13] #873 closed

[2017-12-22 17:14] dbu commented on #872
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:14] #872 closed

[2017-12-22 17:15] dbu commented on #867
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:15] #867 closed

[2017-12-22 17:15] dbu commented on #862
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:15] #862 closed

[2017-12-22 17:16] dbu commented on #858
good point. @GuilhemN can we try to do request this in all pull requests?

at least, there is a UPGRADE-3.0.md to help with the upgrading to version 3.

[2017-12-22 17:16] dbu commented on #850
version 3 is a complete rewrite. please check if this is still a problem with version 3 and a recent symfony version.

[2017-12-22 17:16] #850 closed